[2014-04-27 10:20] sammcj opened #1 "Debian support"
Good work on starting a module for consul.

It would be great if this could support Debian as well as Ubuntu.
Looking at the module, I think it's only in need of an init script to get it off the ground.

If I get time this week I'll submit a pull request.

[2014-06-07 17:17] EvanKrall opened #5 "Upstart script does not work on Lucid"
http://askubuntu.com/questions/87671/how-do-i-start-jobs-as-a-non-privileged-user-in-upstart

[2014-06-07 18:51] #5 closed, assigned to nobody

[2014-06-08 21:41] EvanKrall opened #7 "Tests need ruby >= 1.9.2"
This is somewhat frustrating for those of us stuck on older OSes.

[code]

In the mean time, I'm just doing development in a Trusty vagrant box.

[2014-06-13 03:36] #1 closed, assigned to nobody

[2014-09-08 18:51] KrisBuytaert opened #19 "Install ui broken ?"
Is it just me or should

https://github.com/solarkennedy/puppet-consul/blob/master/manifests/install.pp#L54
Read something different.
I'd expect this to be the "if gui" then install this package as one might not want to have the gui on every node.

One will probably set the ui_diir when one wants to install the gui so
-     if $consul::ui_package_name {
-    if $consul::ui_dir {

Should do the tri

[2014-09-23 15:24] jrnt30 opened #23 "Add support for the new "watch" resource exposed in Consul 0.4.0"
Consul 0.4.0 and above support the concept of [watch](http://www.consul.io/docs/agent/watches.html).

It would be useful to add in explicit support for a "watches" as a first class citizen in the form of a 'define'  similar to the "services" and "checks" functionality.

[2014-09-24 01:08] #19 closed, assigned to nobody

[2014-09-24 15:27] #23 closed, assigned to nobody

[2014-09-24 20:01] benschw opened #26 "Configuring consul client nodes"
Can you point me in the right direction for configuring a consul client node? I'd like to add a consul agent and configure it to register a service and track its health.

Thanks!

[2014-09-25 02:06] #26 closed, assigned to nobody

[2014-10-05 21:02] benschw opened #31 "join_cluster doesn't seem to work in some cases"
In the following example to set up a client agent, `join_cluster` doesn't work (but including `start_join` does.)

note: using `join_cluster` works fine for creating my server cluster in this same environment

[code]

Is this a bug? is there some reason I should be joining the cluster differently as a client than as a server?

[2014-10-17 14:02] dblessing opened #34 "Add support for joining multiple datacenters"
It would be nice if this module allows joining a cluster to another datacenter. This is accomplished via `consul join -wan <server1> <server2>`. I think this can be accomplished very similarly to what the `join_cluster` parameter does.

Are you open to this feature? I would be happy to try and put together a PR.

[2014-10-18 16:25] #34 closed, assigned to nobody

[2014-10-22 21:26] EvanKrall opened #36 "Support consul-template"
It'd be nice if this module supported [consul-template](https://github.com/hashicorp/consul-template)

I'm thinking this would be a `consul::template` resource, with `source`, `destination`, `command`, etc. parameters. We'd also need to manage the consul-template service, which will involve making an init script, etc.

[2014-10-28 13:03] kennyg opened #41 "cut a new release?"
can you cut a new release for the 0.4.x releases?

[2014-10-29 03:16] #41 closed, assigned to nobody

[2014-10-30 21:54] dannykansas opened #43 "Send SIGHUP to consul agent when new checks/services are detected"
Currently, when a new check or service is added, Consul does not load the check/service unless a "consul reload" is manually run on the node (or SIGHUP sent to the agent process).

Could we start a discussion on the appropriate times to trigger a reload of configuration files (i.e. new check added)?

[2014-11-11 08:20] hco opened #45 "service definition file will be changed frequently"
Hi,

for some reason my service defintion files will be changed every few runs, even though nothing changes.

The following file sometimes looks like this:

[code]

and sometimes like this:

[code]

This will result in consul restarting every few runs :-(

[2014-11-12 05:49] jsok opened #46 "Multiple consul::service with same name causes ArgumentError"
I need to create multiple services with the same name (but unique ID) on the same agent, e.g. a service definition like:

[code]

So I created the resources:

[code]

And puppet (2.7) is failing with:

[code]

[2014-11-12 15:30] #46 closed, assigned to nobody

[2014-12-16 17:15] #45 closed, assigned to nobody

[2014-12-18 04:47] #7 closed, assigned to nobody

[2014-12-21 12:57] kostyrev opened #56 "join_cluster not working on agents"
Or maybe I'm using this module wrong.
I've setup one server with

[code]

and three agents with

[code]

But exec exec { 'join consul cluster': is not working 'cause

[code]

shows nothing on those three agents

[2014-12-21 13:05] #56 closed, assigned to nobody

[2014-12-21 13:45] kostyrev opened #57 "cannot generate right retry_join string"
the only directive consul accepts looks like

[code]

With this module I cannot get that string in config file, because it is generating something else all the time, for example

[code]

when in puppet manifest I specify

[code]

[2014-12-23 05:42] #31 closed, assigned to nobody

[2014-12-23 08:24] #57 closed, assigned to nobody

[2015-01-02 08:48] EvanKrall opened #58 "Bump to hashicorp/consul GitHub version e9615c50e6"
hashicorp/consul &middot; GitHub version e9615c50e6 released at January 2, 2015 at 12:48AM

[2015-01-02 21:24] EvanKrall commented on #58
my IFTTT trigger didn't quite work as intended. I thought this would only trigger on new "releases", not all commits.

[2015-01-02 21:24] #58 closed

[2015-01-03 02:55] solarkennedy commented on #58
Hehehehe

[2015-01-05 19:52] bodepd opened #59 "new function sorted_json does not work if keys are set to undef"
in the case where hash keys are explicitly set to undef, the following exception is encountered:

[code]

[2015-01-09 16:26] jrgarcia opened #61 "Allow Consul clients to join cluster"
It appears that consul agents running as clients are unable to join the cluster because of the check [here](https://github.com/solarkennedy/puppet-consul/blob/master/manifests/run_service.pp#L22). When I configure the agent as a client (`server => false`), `consul info` does not output `num_peers` so the linked check returns `1`.

Example configuration:
[code]

Client output of `consul info`:
[cod

[2015-01-10 17:27] solarkennedy commented on #61
Crap, this is the same as #31.

@EvanKrall  didn't we agree that this is impossible and we should just leave this up to the admin to do?

[2015-01-12 10:06] bodepd commented on #59
this was already merged in #60, closing

[2015-01-12 10:06] #59 closed

[2015-01-13 18:24] jrgarcia commented on #61
@solarkennedy That would be my preference. It's obviously easy to workaround. I just wasn't sure if this was the desired behavior.

[2015-01-14 03:39] solarkennedy commented on #61
I don't know what happened. I swear I removed this functionality was removed. I am going to remove it for real to prevent future people from encountering this.

[2015-01-14 03:41] #61 closed

[2015-01-15 17:48] bhourigan opened #65 "Path to /home/kyle is hard coded, somewhere"
I'm trying to install the consul module on my OSX Laptop using librarian-puppet, the puppet module install command fails citing an non-existent path of /home/kyle.

Librarian puppet is generating the following module install command: https://gist.github.com/bhourigan/6fc71c3506fdd9cede81

Output of running it with --debug:
https://gist.github.com/bhourigan/8c3b9c1e72ad54e4fc66

I must be missing s

[2015-01-15 19:28] gozer commented on #65
Looks like there is a dangling symlink in the released archives for that module, but me too.

[2015-01-15 19:30] bhourigan commented on #65
Good catch! It's not present in the git checkout, but when I download the .tar.gz from puppet forge I see the following:

22886459        8 lrwxr-xr-x    1 bhourigan        staff                  48 Oct 28 23:26 ./spec/fixtures/modules/consul -> /home/kyle/Projects/puppet_modules/puppet-consul

[2015-01-16 04:54] solarkennedy commented on #65
Whoops. Ug :(
Um.

I've built 0.4.5? tar -tzf shows no symlink?

[2015-01-23 04:01] chrisleavoy opened #73 "Support for Consul 0.5.0 and multiple check configuration"
I just reviewed the Consul 0.5.0-rc1 change log and it looks like there will be a few changes that will require changes in puppet-consul.  Some quick notes:

 * 'consul::service' will need to be updated as the checks property for services is now an array instead of a hash.
 * 'consul::check' will also need updates for the new HTTP check type as well as optional service_id property.

[2015-01-23 13:09] tayzlor opened #74 "Consul init scripts sometimes not installed in the correct order"
Because we install the init scripts in install.pp, what can happen is that sometimes the init script will get put in place and then then package will be installed over the top, blowing the init script from the module away. If the package that was installed has a slightly different init script, this could lead to the service running with unexpected circumstances (as I have experienced). This is bec

[2015-01-23 16:00] #74 closed

[2015-01-23 16:11] solarkennedy opened #76 "Meta stuff Not up to snuff"
It had been a while since I've been to the forge, I didn't realize they were exposing quality metrics!

https://forge.puppetlabs.com/KyleAnderson/consul/scores

[code]

I should work on this junk.

[2015-01-23 16:17] solarkennedy commented on #73
Cool. I've released 0.4.6 to the forge and added a compatibility section.

The next version/tag of this module will be 0.5.0 to be compatible with Consul 0.5.0!

[2015-01-23 16:23] solarkennedy commented on #73
Believe it or not, this module does have an acceptance test suite, I would love to see us TDD our way towards 0.5.0 compatibility.

[2015-01-23 18:58] EvanKrall commented on #73
These sound like they could cause us to be backwards-incompatible. Should we bother maintaining a branch that's compatible with 0.4, or just expect people to upgrade?

[2015-01-24 04:03] solarkennedy commented on #73
Na. If people are on .4 they can use a release from the .4 series, otherwise they can be on .5 or master.

[2015-01-31 20:54] kostyrevaa opened #79 "How to uninstall consul from node?"
How do you get rid of it now?

[2015-01-31 21:06] solarkennedy commented on #79
We don't really have any defined way to "remove" everything the module installs.

If you used a package you can say `package_ensure => absent`, but this will not remove everything.

If you make a class to remove *all* resources this module installs can you PR?

[2015-02-03 16:36] rikwasmus opened #81 "Cycling dependancy in Hiera-based config"
- ruby 1.9.3p194
- puppet 3.7.3

Yaml-based hiera setup, applied in order (merge deeper @ hiera):

Main config shared everywhere (init style = false because we have a local .deb repo where init is already taken care of when installing consul):
[code]

Consul-master config:
[code]

Apply results in:
[code]

Unless I'm doing something wrong in Hiera of course...

[2015-02-03 17:33] rikwasmus commented on #81
Hm, merging config like that appears (which is _very_ handy for a multiple datacenter setup etc.) was also only working for me after a local edit....
[code]

... which apparently had something to do with https://github.com/solarkennedy/puppet-consul/commit/76bc1effe92daa55d2ab9350c0b64d145067a857 ... but beside that little tidbit change, I would be running v0.4.6 now.

[2015-02-04 02:46] solarkennedy commented on #81
This surprises me because we have a test for this:
https://github.com/solarkennedy/puppet-consul/blob/master/spec/classes/init_spec.rb#L247

If there was a dependency loop when settings `consul::services` then that test would fail to compile?

[2015-02-04 20:00] kostyrevaa commented on #79
definitely)
but I'm not sure when I get free time to do it

[2015-02-12 14:31] tayzlor commented on #81
Im hitting this as well -

[code]

[2015-02-12 14:48] rikwasmus commented on #81
It could be it's about an incomplete consul definition which causes it. Once I hiera_merge it like mentioned, the problem disappears, but without merging (which granted, would result in an incomplete / faulty consul config), this dependency cycle happens, so with just:

    consul::config_hash:
      log_level: 'INFO'
      server: true
      bootstrap_expect: 3
      ui_dir: '/usr/share/consul/we

[2015-02-12 15:04] tayzlor commented on #81
Changing the merge() function as you describe above makes no difference for me, I am still receiving the same error. Having a look into it now...

[2015-02-13 03:41] #81 closed

[2015-02-18 20:05] miroswan opened #83 "Watches key in config_hash should expect an array of hashes?"
Hey, so. Looking at the consul configuration syntax, it looks like the watches value should be an array of hashes. Each watcher is a hash and indexed in an array. I'm not sure how to configure my watches using this puppet module since the watches key in the configuration hash is expecting a hash value instead of an array value. If this is by design, would you mind briefly explaining how to configu

[2015-02-19 03:37] solarkennedy commented on #83
According to the tests it is a hash:
https://github.com/solarkennedy/puppet-consul/blob/master/spec/classes/init_spec.rb#L247

It looks like the default is an empty hash and we are validating that it is as hash:
https://github.com/solarkennedy/puppet-consul/blob/master/manifests/init.pp#L62-L73

But it looks like we lack docs on this. Can you make a PR that adds a docstring in the init.pp and mayb

[2015-02-23 19:17] miroswan commented on #83
This causes a dependency loop:

[code]

err: Could not apply complete catalog: Found 1 dependency cycle:
(File[/etc/consul/watch_httpd_service.json] => Class[Consul::Run_service] => Service[consul] => Class[Consul::Run_service] => Class[Consul] => Consul::Watch[httpd_service] => File[/etc/consul/watch_httpd_service.json])

[2015-02-24 05:09] solarkennedy commented on #83
I'm having trouble reproducing your issue.

So I've added a test case with exactly the input you provided.
https://github.com/solarkennedy/puppet-consul/blob/master/spec/classes/init_spec.rb#L287

Here are the test results:
https://travis-ci.org/solarkennedy/puppet-consul/builds/51933146

[2015-02-24 17:56] runswithd6s opened #85 "consul should not 'leave' for init script 'stop' action"
When consul is provided with the `leave` subcommand, the node is removed from the cluster. This requires that the cluster be added back in at reboot with a `join` action. This breaks expected behavior for the service, in which the node automatically rejoins the cluster upon service start. A more acceptable init-style script behavior would be to kill the consul process so it does not remove itself

[2015-02-25 03:42] solarkennedy commented on #85
I think I agree. That init script was probably stolen from
https://gist.github.com/stojg/d0d96a123761830c0ff1

Can you PR?

[2015-02-25 03:43] solarkennedy commented on #65
I'm going to close this as I think it is fixed in the latest release.

[2015-02-25 03:43] #65 closed

[2015-02-25 03:43] solarkennedy commented on #83
@miroswan  can you confirm you are running the latest version of the code?

[2015-02-25 03:46] bhourigan commented on #65
Thanks!

[2015-02-25 04:45] runswithd6s commented on #85
After working more with consul, there are other considerations. When
acting as an agent publishing a service, it is safe and preferred to
cleanly 'leave' the cluster. When acting as a server, we don't want to
'leave' unless done so administratively. With sysvinit on Linux, we can
use /etc/sysconfig/consul (Red Hat) or /etc/defaults/consul (Debian) to
set a stop behavior variable to select the appr

[2015-02-25 05:24] miroswan commented on #83
I'm running v0.4.6. I ended up overriding the config.json resource and templating it so I can avoid the aforementioned issue and gain a bit more more flexibility. Aside from the watches key in the config_hash class param, the consul module has been working out just fine for me. If the tests are passing, I suppose it's fine to mark this one as closed for now. Possible PEBCAK on my end.

[2015-02-25 05:37] EvanKrall commented on #85
Would `consul leave` on a server cause the other servers to decrease the expected number of servers w.r.t quorum calculations? That would be somewhat scary.

[2015-02-25 14:58] runswithd6s commented on #85
It appears that the `bootstrap-expect` is a "maybe" condition if no raft data has been initilized. If you've already bootstrapped, then it will be ignored. The expect/quorum is managed dynamically based on the number of hosts in the cluster. We've been playing with a Vagrant build of a 3 server cluster and ran into issues that led us to recognize this behavior. Both the `consul leave` and `kill -I

[2015-02-25 15:36] solarkennedy commented on #83
Possibly. Can you try the tip of master and confirm that whatever bug that you are hitting is fixed? That way we can close this issue with confidence.

[2015-02-25 15:40] solarkennedy commented on #85
I'm down with this. The upstream upstart scripts don't leave
https://github.com/hashicorp/consul/tree/0c7ca91c74587d0a378831f63e189ac6bf7bab3f/terraform/aws/scripts

@runswithd6s if you make a PR I would accept it or I will do it myself.

[2015-02-25 15:48] runswithd6s commented on #85
Ok. We're almost done with the investigation spike. I'll talk to our team to see if I can carve out some time to do it.

[2015-02-26 06:23] #85 closed

[2015-03-05 20:57] sjoeboo opened #90 "Dependency cycle using consul::services"
Just took a stab at adding a service (1) using the consul::services hash, via hiera. I started getting a dependency cycle right away.

Hiera:

[code]

output:

[code]

[2015-03-05 21:03] sjoeboo commented on #90
Interestingly, I just assigned the same service directly (not via hiera, not in the consul::services hash), and it was fine:

[code]

[2015-03-06 04:27] solarkennedy commented on #90
Can you verify you are using the latest master? I'm pretty sure this is fixed.

[2015-03-06 16:38] sjoeboo commented on #90
That did it, was pulling via r10k from the forge, hitting master directly let the hash work perfectly.

[2015-03-07 02:22] #90 closed

[2015-03-13 12:29] centromere commented on #73
Has there been any progress towards 0.5.0?

[2015-03-13 14:15] solarkennedy commented on #73
Na :(

[2015-03-21 15:51] jelmerk commented on #73
Any ETA on when a 0.5.0 compatible version will be released?

[2015-03-22 17:24] solarkennedy commented on #73
There is #94, but needs a little TLC.
Patches welcome?

[2015-03-25 20:17] split3 commented on #73
Do you have a list of additional known items that need to make this compatible? I'd be happy to provide some pull requests.

[2015-03-26 03:24] solarkennedy commented on #73
As far as I know, the list at the top of this issue is it. For the most part things are backwards compatible, but I'm not running 5.0 in production yet.

[2015-03-26 09:34] gittex commented on #43
In https://github.com/solarkennedy/puppet-consul/blob/master/manifests/service.pp#L90 there is a Notify on Class[consul::run_service]. Shouldn`t that rather be a Notify on Service[consul]?

[2015-04-01 08:52] garethr opened #97 "passingonly needs to be a boolean for watch type"
## Problem

The documentation contains the example:

[code]

This results in a config file like:

[code]

This will in turn cause an issue for Consul starting with an error similar to:

[code]

Changing the config file by hand to the following fixes the problem.

[code]

Passing in the value to Puppet as a boolean also fixes the problem.

[code]

## Fix

* Docs could be updated to show working val

[2015-04-01 15:15] solarkennedy commented on #97
Yes please. PR?

[2015-04-01 15:26] garethr commented on #97
I'll take a look when I get a moment, although it might be a week or so.

[2015-04-02 15:21] split3 commented on #73
I added a pull request #98 with the additional options for checks along with unit tests for it.  I will work on the additional service options as well.

[2015-04-02 19:29] split3 commented on #73
I went ahead and finished up the service portions and move all the validation logic into a function since it needed to really be used in multiple locations by consul::check and consul::service with the checks array.  The pull request is located #99.

I added several tests to ensure that things are getting handled properly but please double check to see if anything was missed or more tests are want

[2015-04-03 03:28] solarkennedy commented on #73
This in place.
I'm not using .5 in production yet, so we'll have to wait for bug reports if anything crucial is missing.

[2015-04-03 03:28] #73 closed

[2015-04-03 12:07] jaxxstorm opened #100 "init script doesn't have data-dir (0.5.0)"
I never used consul 0.4.0, so this may be me missing something, but the current init script bundled here doesn't work.

consul expects a data-dir option to be passed to it, which isn't included:

[code]

The module should probably include support for setting this up, too

[2015-04-03 12:07] #100 closed

[2015-04-03 12:07] jaxxstorm commented on #100
Never mind, bad config

[2015-04-12 03:46] EvanKrall opened #103 "If $install_method = 'url', won't upgrade consul"
I have to manually remove both /usr/local/bin/consul and /opt/staging/consul/consul.zip to get this module to upgrade Consul.

[2015-04-13 13:12] split3 commented on #103
Yea this one has to do with the filename that is being set with the staging module.  It is writing it to `consul.zip` as you see.  Same goes for the UI as well.

Given the upgrade instructions by Consul:
1. On each server, install version B of Consul.
2. Shut down version A, restart with version B.
3. Once all the servers are upgraded, begin a rollout of clients following the same process.
4.Done!

[2015-04-14 14:14] split3 opened #107 "umask feature breaks CentOS init scripts"
The newly added umask feature causes failures on startup with the following error:

`/etc/init.d/consul: Usage: daemon [+/-nicelevel] {program} [FAILED]`

This happens with CentOS 6.5 and 6.6

[2015-04-14 14:38] split3 commented on #107
Should also note, that a nice side effect of this is that it brought down my entire cluster.

[2015-04-19 03:42] zxjinn opened #109 "delete_undef_values required stdlib 4.2.0, dependency not set properly"
Hey guys, first of all: I appreciate all the hard work you're doing here, this module is great.

I noticed a small problem when pulling from master (specifically I'm working off of: 0bbbea631780b284d36dff955716adab8c0652e0). When pulling the module via librarian-puppet it checks the dependencies in the [metadata.json](metadata.json) file. I currently have puppetlabs-stdlib 4.1.0 installed, which p

[2015-04-19 04:07] zxjinn opened #110 "README for consul::service is out of date"
In the README the `Service Definition` section code example looks like it's showing an older way of configuration. The redis example should look like so:
[code]

Just like my other issue I just made, I'm more than willing to submit a PR if you don't want to do the legwork.

[2015-04-19 04:53] solarkennedy commented on #110
Yes please, I would love a PR on a README refresh.
If you are in there, feel free to address https://github.com/solarkennedy/puppet-consul/issues/97 ?

[2015-04-19 04:54] solarkennedy commented on #109
Ah! Yes please, I did not realize that function was only available in 4.2.0 or later. Please yes a PR.

[2015-04-20 20:53] #109 closed

[2015-04-20 20:53] #110 closed

[2015-04-22 04:09] #97 closed

[2015-04-23 13:55] split3 commented on #36
Has there been any traction on this.  I think it would be worth while to have this support self contained in one module without having chained dependencies for this functionality.  It would also be nice to possibly add support for ```consul replicate``` as well.

[2015-04-23 14:55] solarkennedy commented on #36
Nope, mostly just waiting for someone with the need to do it.
@EvanKrall with your most recent project, I know you used templates, did you use that consul_template module or did you do something else?

[2015-04-23 14:57] split3 commented on #36
I'm approaching the need right now so I might add it, I'll wait to hear back from @EvanKrall on what he used.

[2015-05-06 17:24] daneuriona opened #115 "Need to add -data-dir option to startup scripts."
Just need to populate -data-dir in templates with 'consul::config_dir'

Otherwise consul errors out with:
==> Must specify data directory using -data-dir

[2015-05-06 17:41] daneuriona commented on #115
Looks like hiera isn't populating the config_hash properly in my test case, so the config json is empty.

[2015-05-06 17:55] #115 closed

[2015-05-07 20:12] centromere opened #116 "Hash of downloaded binary never verified"
When installing from a URL, the hash of the file is never verified. This would be a really nice feature to have.

[2015-05-08 14:43] solarkennedy commented on #116
Hmmm. Are you looking for security or just integrity?

[2015-05-08 14:45] centromere commented on #116
Both.

[2015-05-08 14:49] solarkennedy commented on #116
I think that would be best served in a non-consul specific way inside the module we use to download and unzip the thing:
https://github.com/nanliu/puppet-staging

It could take some sort of verification url?

[code]

[2015-05-08 14:54] centromere commented on #116
There's a module called [puppet-archive](https://github.com/camptocamp/puppet-archive) which has checksum verification built in.

[2015-05-08 15:00] solarkennedy commented on #116
Ooo!!

[2015-05-14 08:54] nmarasoiu opened #117 "Invalid resource type staging::file"
Hi,

After successfully running ./deps.sh and build.sh, doing vagrant up halts with a puppet error:
nicu@nmarasoiu:~/tools/consul-cluster-puppet$ vagrant up
Bringing machine 'consul0' up with 'virtualbox' provider...
Bringing machine 'consul1' up with 'virtualbox' provider...
Bringing machine 'consul2' up with 'virtualbox' provider...
Bringing machine 'webui' up with 'virtualbox' provider...
Bring

[2015-05-18 15:16] weitzj commented on #117
You should have https://forge.puppetlabs.com/nanliu/staging in your puppet modules path as it is mentioned on the dependencies page. https://forge.puppetlabs.com/KyleAnderson/consul/dependencies

[2015-05-18 15:22] weitzj opened #119 "config_hash converts strings to integers => breaks port mappings"
In the consul config_hash it is possible to disable the http port by setting it to `-1`, and enabling the https service instead by setting it to the appropiate port, `8500`:

[code]

The generated `config.json` results in:

[code]

### Current behaviour (Release 1.0.0)

 `-1` is looking good, and is still an integer, whilst the https ports was converted to a string. The consul agent does not suppo

[2015-05-18 17:43] weitzj opened #120 "Debian: /var/run/consul/consul.pid user affinity inconsistent"
The init template for Debian uses `start-stop-daemon` to create a pidfile owned by the daemon user `root`. https://github.com/solarkennedy/puppet-consul/blob/master/templates/consul.debian.erb#L57

But:

It passes the `-pid-file` parameter along to the `consul agent`. See: https://github.com/solarkennedy/puppet-consul/blob/master/templates/consul.debian.erb#L21

This causes the launch of the consu

[2015-05-19 07:40] weitzj commented on #120
The PR implements the second solution, since NGINX does it this way, too. It also fixes a status check bug.

[2015-05-19 21:10] EvanKrall commented on #120
Couldn't you instead remove `--make-pidfile` from the start-stop-daemon args? Is it actually preferable to have start-stop-daemon manage the pidfile?

[2015-05-21 18:37] mhaskel opened #122 "Module should have a CHANGELOG"
It's difficult to see what's going into new releases without a CHANGELOG.

[2015-05-21 21:05] weitzj commented on #120
Yeah, we could do that. I was just inspired by the nginx file on my debian machine, which looks almost the same as the current puppet-consul debian file. https://github.com/solarkennedy/puppet-consul/blob/master/templates/consul.debian.erb#L21

Do you want me to implement the other solution instead?

[2015-05-21 21:06] EvanKrall commented on #120
I don't really have strong opinions either way.

[2015-05-21 21:07] weitzj commented on #120
Nginz Script Debine Weezy

e.g.: https://blog.luukhendriks.eu/2013/05/17/nginx-initscript-debian-7.html

[code]

[2015-05-21 21:09] weitzj commented on #120
We could actually implement a real reload command, sending HUP, which is missing in the current solution

[2015-05-21 21:21] EvanKrall commented on #120
Real reload would be nice too, but doesn't necessarily have to happen in the same PR.

[2015-05-21 22:53] weitzj commented on #120
Yes. One should not highjack this on here. :)

[2015-05-21 23:23] weitzj commented on #120
Please review again. Added CHANGELOG

[2015-05-21 23:34] EvanKrall commented on #120
Merged! Thanks for the PR.

[2015-05-21 23:34] #120 closed

[2015-05-22 20:39] benschw opened #124 "add maintenance mode option to init scripts"
In order to not have critical health checks (and the duration of the ttl as a window when a stopped service is still showing up available) would it make sense to integrate calls to `consul maint -enable` and `consul main -disable` in the init script `start` and `stop` calls?

https://consul.io/docs/commands/maint.html

This command can be made to take either an entire consul agent, or just a singl

[2015-05-25 15:31] solarkennedy commented on #124
Yea, I think that would add a nice bit of polish.

On upstart this would be done as a pre-stop and post-start thing?

Do you think this meshes with most user's expectations? (stopping consul maints services on that node)

[2015-05-25 15:35] solarkennedy commented on #122
We now have a changelog and will ask PR's to amend it with changes!

[2015-05-25 15:35] #122 closed

[2015-05-25 15:41] solarkennedy commented on #119
Yea, we explicitly try to "cast" these into ints for service:
https://github.com/solarkennedy/puppet-consul/blob/master/manifests/service.pp#L49

Then we do it on a bit more keys here:
https://github.com/solarkennedy/puppet-consul/blob/master/manifests/config.pp#L82-L98

I'm... up for suggestions?

We could take a advantage of the fact that we have a custom function to write the json down:
https:/

[2015-05-25 15:54] #117 closed

[2015-05-25 18:12] solarkennedy commented on #76
We are up to 5!

[2015-05-25 18:12] #76 closed

[2015-05-25 18:13] solarkennedy commented on #43
Notifying the entire class is ok, it should in-turn notify any resources inside, including Service[consul]

[2015-05-27 16:42] bdellegrazie opened #126 "GOMAXPROCS discarded by upstart init due to sudo's env_reset option"
Hi,

In upstart init version GOMAXPROCS is set correctly but then the actual consul-agent process is started via sudo.
In Ubuntu the default sudo configuration has env_reset configured and GOMAXPROCS is not part of the env_keep configuration.
I'd suggest adding a default for the consul user which has GOMAXPROCS as part of env_keep configuration to avoid it being ignored.

[2015-05-27 17:31] bdellegrazie commented on #126
Another alternative is to drop the requirement for using sudo and instead use either /bin/su or setuid and setgid for later versions of upstart.

[2015-05-27 18:55] mhaskel commented on #122
:+1: awesome, thanks!

[2015-05-28 03:26] solarkennedy commented on #126
Arg. I would be down for an alternative to sudo.

[2015-05-28 03:40] benschw commented on #124
yeah, I'm not sure that it is.

It would be nice to control this within puppet, but I think it's more closely related to the services being registered. (I might end up including this in either my application being registered's init script, or else in the rundeck script used to deploy the app)

sorry for being so indecisive :)

[2015-05-28 03:45] solarkennedy commented on #124
I would like to see a second opinion. Also remember that I don't use this module in "production", so you may be seeing real issues earlier than I am.

[2015-05-29 14:23] centromere opened #129 "Setting consul::version in hiera does not change the download_url"
I attempted to set consul::version to 0.5.2 in hiera, but the zip file downloaded is for 0.5.0. I added the following to install.pp:

    notify{"Download url: ${$consul::download_url}": }
    notify{"Version: ${$consul::version}": }
And this is the output:

    Notice: Download url: https://dl.bintray.com/mitchellh/consul/0.5.0_linux_amd64.zip
    Notice: Version: 0.5.2

[2015-05-30 01:38] solarkennedy commented on #129
Gosh, that is pretty surprising, but not the f. We have a specific test for this?
https://github.com/solarkennedy/puppet-consul/blob/master/spec/classes/init_spec.rb#L78-L83

[2015-05-30 02:06] EvanKrall commented on #129
I think it's that staging::file won't re-download something if the file (zipfile, in our case) already exists; nor will staging::extract extract something if the target already exists.

[2015-05-30 02:12] centromere commented on #129
I am not certain it is with staging::file. I suspect it might have something to do with the variables getting substituted in an unexpected way (as demonstrated by the test I did).

[2015-05-31 17:28] #126 closed

[2015-05-31 17:33] solarkennedy commented on #129
Yea, it can't be the staging module, this is happening at catalog time.

@centromere  can you give us more inputs to work with? Can you paste in more for your hiera and manifests to give us a better picture of how this module is invoked?

[2015-05-31 18:31] centromere commented on #129
Puppet 3.7.4

site.pp:
[code]
hiera.yaml:
[code]
hiera/common.yaml:
[code]
inhouse/myapp_discovery/manifests/init.pp:
[code]

Setting `consul::download_url` instead of `consul::version` results in the desired behavior.

[2015-05-31 23:03] EvanKrall commented on #129
If instead of setting `consul::version` in hiera, you pass `version => '0.5.2'` when you include consul, does the same behavior happen?

You're right, this isn't staging. It might have to do with the ordering of when `$download_url`'s default gets constructed versus when `$version` gets set.

[2015-06-01 00:14] solarkennedy commented on #129
I can confirm on a spec test that inserting the version works. It does have something to do with the version parameter being inherited early before the hiera lookup.

I'm trying to write an failing integration test to reproduce.

[2015-06-04 20:32] potto007 commented on #129
I believe this is a side-effect of this 3+ year old issue, which has burned me a number of times in Puppet.

https://projects.puppetlabs.com/issues/9848

Anytime I assign a variable based on other variables inside the parameter definition of the class, it winds up yielding unpredictable results.

[2015-06-05 04:29] solarkennedy commented on #129
Ah! That explains it. I swear I've seen this work before, but I used another internal module today where I tried to do the same thing and it didn't work.

Well, I would accept a PR for something like this:

[code]

That way we don't bother composing the default url unless it wasn't provided, and we parse $version only when we are certain when it is set.

[2015-06-05 23:00] potto007 commented on #129
I submitted [PR 133] (https://github.com/solarkennedy/puppet-consul/pull/133) to address this. HTH

[2015-06-06 14:55] solarkennedy commented on #129
I've merged it in. Thank you @potto007 ! (especially considering you didn't open the original issue!)

I'm sad I couldn't come up with a test to verify this. I can't guarantee this particular functionality won't be broken in the future without a unit test to watch for it :(

[2015-06-06 14:56] solarkennedy commented on #129
@centromere can you pull master and confirm that this closes your issue?

[2015-06-06 15:03] potto007 commented on #129
@solarkennedy I'll see if I can come up with a few tests to assert this works, and see if I can make at least one that breaks the old code.

Glad to help, I needed it anyway in my infrastructure. :) I'm actually adding something for managing a Docker container based Consul via Upstart ATM - I'll contribute that as a branch when it is clean and see if you want it.

[2015-06-06 15:06] solarkennedy commented on #129
Cool! @potto007 We do have a test on inserting the download_url already, but it doesn't work for this bug because this require more of a kind of "integration" between hiera and junk. A real test of this will require the hiera helper and using similar hiera that @centromere provided. Good luck!

Regarding docker/consul/upstart, that kinda sounds a bit out of scope maybe could be its own module, or

[2015-06-06 15:57] potto007 commented on #129
Yeah, I've done some tests with Hiera involved, I think it should be manageable.

WRT consul-docker: It does seem out of scope, I agree - but the way I am using it, your module actually is quite helpful. I am using host volume mapping against /etc/consul - and Puppet is being used to assign service definitions. Obviously, consul::install doesn't much matter for that case, and service management is

[2015-06-16 14:37] DjxDeaf commented on #36
Is it still planned? an amazing-to-have feature

[2015-06-16 14:40] DjxDeaf commented on #124
I agree, can be very useful - I'd love to have this feature in production,
Also, if the Consul agent is stopped - Obviously it should be on discovery service.
If it crashed, it won't be in maintenance mode.
Can be defined by a params to enable or disable this

[2015-06-16 14:59] split3 commented on #36
I think that this probably make sense as a separate module and I've been using this one:
https://github.com/gdhbashton/puppet-consul_template

[2015-06-18 02:24] solarkennedy commented on #36
Yea, I don't think we should re-invent the wheel. I agree that this would be best as a separate module, as it has a different install/config/service/etc.

[2015-06-18 02:24] #36 closed

[2015-07-08 05:45] solarnz opened #148 "Ruby 1.8 support"
Ruby 1.8 isn't supported at the moment, as within https://github.com/solarkennedy/puppet-consul/blob/master/lib/puppet/parser/functions/consul_validate_checks.rb, it is trying to call 'Puppet::ParseError' as a function. Which results in

[code]

It appears that I can fix this by using `raise(Puppet::ParseError, 'message')` rather than `raise Puppet::ParseError('message')`, however I'm not a ruby d

[2015-07-08 14:38] solarkennedy commented on #148
Totally! One of the hardest problems is ensuring that "json" is available.

We don't currently have 1.8 supported in the matrix:
https://github.com/solarkennedy/puppet-consul/blob/master/.travis.yml

So if you can make changes that make it support 1.8 and not break forwards compatibility, go for it!

[2015-07-10 02:12] #148 closed

[2015-07-16 04:25] aj-jester commented on #124
There might be some problems doing it this way. What happens when a node "gracefully" shuts down and leaves the cluster for good?

According to the docs when a node returns from maintenance it only get back in the "queries" (DNS and API). So I'm thinking while in maintenance the cluster still expects to communicate with the agent. If you put the node in maintenance and stop the daemon I bet it wil

[2015-07-17 01:34] aj-jester commented on #119
Something like this?

[code]

[2015-07-17 02:35] solarkennedy commented on #119
Yea, that looks like it achieves the desired effect.
@aj-jester want me to whip that into a PR or did you want to?

[2015-07-17 03:20] aj-jester commented on #119
@solarkennedy https://github.com/solarkennedy/puppet-consul/pull/156

[2015-07-17 03:54] aj-jester commented on #43
Fixed https://github.com/solarkennedy/puppet-consul/pull/152

[2015-07-17 03:54] #43 closed

[2015-07-17 04:00] aj-jester commented on #83
@miroswan Your dependency issue (whether it was really an issue or not) might be fixed with this PR https://github.com/solarkennedy/puppet-consul/pull/152

Can you pull down the latest master and try it again?

[2015-07-17 15:13] #119 closed

[2015-07-17 15:14] solarkennedy commented on #119
@weitzj this should be fixed on the latest master thanks to @aj-jester

[2015-07-17 15:57] weitzj commented on #119
Thank you. :)

[2015-08-06 12:03] AblionGE opened #161 "Documentation"
- [ ]  prezto/system.pp
- [ ] prezto/init.pp
- [ ] role/elastic_server.pp
- [ ] role/stat_server
- [ ] role/logstash_server
- [ ] profile/openstack/controller
- [ ] profile/init
- [ ] profile/admin
- [ ] profile/openstack/repo

[2015-08-06 12:03] #161 closed

[2015-08-06 12:03] AblionGE commented on #161
sorry, little mistake :)

[2015-08-09 23:31] jhance opened #164 "Staging missing dependency on `Package['unzip']`"
For obvious reasons this package is needed. It doesn't seem like staging itself manages this (since it doesn't manage the `unzip` package), so consul should manage this dependency if it is managing the `unzip` package (ie, on non-darwin).

It should be sufficient (probably better) only to supply this to the files that consul itself downloads. For myself I am currently using `Package['unzip'] -> St

[2015-08-10 15:00] solarkennedy commented on #164
On `install.pp:19` we do this, so I think we are covered. Or are you asking for the package unzip to be chain ordered before we try to unzip the file?

[2015-08-10 15:05] aj-jester commented on #164
I think thats what he means. Should be a simple fix, I can work on this sometime today.

[2015-08-10 18:29] jhance commented on #164
Yes, thats what I mean. And yeah, this is pretty simple.

[2015-08-11 10:17] aj-jester commented on #164
PR https://github.com/solarkennedy/puppet-consul/pull/166

[2015-08-11 15:13] #164 closed

[2015-08-14 14:30] aj-jester opened #170 "Validate and document all params that could be passed to ::consul"
The documentation on what params we could pass is kinda lacking. I think we should document all of the params (most are missing right now) and perhaps update the readme as well.

Also, while doing this we need to ensure these params are properly validated, that is also lacking, only a few are being validated.

I can work on this but if someone else wants to feel free and let me know if I can help

[2015-08-20 20:41] pforman opened #174 "Strange (probably unnecessary) behavior in sysv stop script"
The sysv stop script has this in it for the stop section:

[code]

I read the original PR (#87), and I agree with the theory to have clients leave but servers stay in "failed" state to preserve their state for a rejoin.  However, the implementation doesn't seem to address this correctly, and "kill -9" is extremely heavy-handed for a distributed consensus system.  It doesn't seem like that's ever g

[2015-08-21 01:07] aj-jester commented on #174
@pforman What happens if `leave_on_terminate` is set to `false` and I send a `TERM` signal? Will the client state be `failed` or `leave`?

[2015-08-21 03:59] pforman commented on #174
If leave_on_terminate is true, then a TERM should issue *another* leave if it actually runs.  Normally leave_on_terminate is false.  (There's another default but modifiable behavior around SIGINT as well, basically SIGINT will cause a leave unless specified not to).

Normally the leave works correctly.  In some rare cases, I've seen it not work, but I can't reliably duplicate it (yet).  Luckily my

[2015-08-21 04:18] aj-jester commented on #174
@pforman So then why not remove `consul leave` and just use `INT`? Isin't that we want? That way we don't have to deal with any race condition?

[2015-08-21 04:49] pforman commented on #174
I think that's viable.  Let me beat on it a bit and see if I can get it to misbehave in any way.

The nice part about using INT is that it's controllable by config_hash, using the "skip_leave_on_interrupt" parameter.

All of this discussion about leave-vs-TERM is currently only the case for "sysv", though.  Everything else appears to just use "consul leave".  Seems like a lot of us with weird need

[2015-08-21 04:56] aj-jester commented on #174
@pforman Thank You! The more testing the better :smile:

Currently `consul leave` is only implemented for sysv and upstart scripts. So if you can confirm `INT` isin't doing any funny business, I will update the upstart script to use `INT` too.

So please keep us posted :+1:

[2015-08-21 05:14] pforman commented on #174
Initial results with INT look good.  We get this in the log (turned up to DEBUG):

[code]

The one oddity is that the script contains this:
[code]

That's *too fast*, if the rm is allowed to remove $PID_FILE, then consul itself complains in the logs when it subsequently tries to.  So the signal is sent to consul, but then the script marches on.  Turns out the script is quicker at issuing "rm" than

[2015-08-21 05:35] aj-jester commented on #174
@pforman :bulb: We can do one of the following.

1) We can check if the process exists `pid -0 $PID` (possibly fixed loop count with a one second back off)?
* This raises another question. If after `x` amount of tries the process is still running then we have to decide whether to exit right then and echo "hey something went wrong, pid is still running" or forcefully `kill -9` and clean up the pid

[2015-08-21 05:48] aj-jester commented on #174
@pforman I checked the other init scripts and all of them are looping before removing the pid file, so I think its fine to do that here as well.

Upstart is the exception to that rule, but I will add that support to it as well.

[2015-08-21 16:40] pforman commented on #174
I opened https://github.com/hashicorp/consul/issues/1189 about this.  We'll see what happens.

I think INT and backoff is satisfactory, and if they fix this issue upstream going back to ```consul leave``` might be preferable then.

[2015-08-21 16:49] aj-jester commented on #174
@pforman Awesome. Looking forward to your PR :sunglasses: :boat:

[2015-08-26 06:33] pforman opened #182 "Log rotation?"
Something I noticed while working in the ```sysv``` startup script is that the output is redirected into ```/var/log/consul```, but there isn't any way provided to rotate that file.

This is also the case in the `sles` script.

Should there be a logrotate.d file included?  Is this something considered outside the scope of the module?

If it's outside the scope, then feel free to close this issue.

[2015-08-26 14:38] solarkennedy commented on #182
I consider this outside the scope of the module. (I recommend making a "profile_consul" and combining modules together in there) I use this one in production: https://github.com/rodjek/puppet-logrotate

[2015-08-26 14:38] #182 closed

[2015-09-04 15:36] split3 commented on #174
Was just thinking/working on this exact same issue today.  I'd prefer if we can let the _leave_on_terminate_ property determine the behavior of the cluster leave/failing otherwise there are situations in which this can cause a node to leave the cluster when you didn't really want it to because of a stop/start.

@pforman have you made headway on this and have a PR ready soon?

[2015-09-05 01:30] pforman commented on #174
PR is #181, waiting for merge.

The behavior for both clients and servers is somewhat configurable with the Consul properties, because the script just sends INT or TERM respectively.

If the signal isn't handled in a reasonable time it escalates the signal, eventually to KILL.

Consul is pretty well behaved as a daemon so I haven't seen that happen.

[2015-09-07 18:59] solarkennedy commented on #174
Merged in #181.
I look forward to the day when we can just "use the upstream init script" :(

[2015-09-07 18:59] #174 closed

[2015-09-07 19:19] aj-jester commented on #174
Something like this could be used to standardize init scripts https://github.com/jordansissel/pleaserun

[2015-09-20 16:32] ilyash-p opened #187 "ensure_packages unzip with 'before' breaks interoperability"
In `install.pp` there is

    ensure_packages(['unzip'], { 'before' => Staging::File['consul.zip'] })

which breaks interoperability since if you have

    ensure_packages(['unzip'])

in any other place it's a redeclaration error (because attributes are different). Minimal code that shows similar problem:

    puppet apply -e 'ensure_packages(["unzip"]) ensure_packages(["unzip"], {stage=>"main"})'

[2015-09-20 16:36] ilyash-p commented on #187
Possible solution: "Remove management of unzip package" - https://github.com/danieldreier/puppet-consul/commit/8253cba01dd19e0478072425a1795cbdeb1b0aa4

[2015-09-20 18:33] solarkennedy commented on #187
Fixed by #185

[2015-09-29 12:35] shuron commented on #79
I'm not sure if it's puppet's approach to remove to much things.

[2015-10-08 14:15] gdhbashton opened #190 "metadata.json - needs at least 4.6.0 of stdlib"
Hi,

Using 1.0.2 of the module on the Forge, the `metadata.json` specifies at least 4.2.0 of `puppetlabs/stdlib` but you're using `validate_integer` in `manifests/init.pp:100` and that feature only came in at `stdlib` version 4.6.0

https://github.com/solarkennedy/puppet-consul/blob/master/metadata.json#L14

https://forge.puppetlabs.com/puppetlabs/stdlib/changelog#2015-04-14---supported-release-46

[2015-10-08 15:04] solarkennedy commented on #190
Ah! Do you feel comfortable making a PR to fix?

[2015-10-08 15:43] gdhbashton commented on #190
Heh, sure PR #191  - I guess it's still easier to press 'Merge' than to edit + commit a 1-byte change ;)

[2015-10-09 00:34] #190 closed

[2015-10-09 13:40] rytutis opened #192 "Why is ACL ID read-only?"
Hi,

https://github.com/solarkennedy/puppet-consul/blob/master/lib/puppet/type/consul_acl.rb#L40

Consul allows setting the ID when creating a token, wonder why is it read only in puppet-consul?

[2015-10-09 14:47] solarkennedy commented on #192
It may have been read-only at the time that it was made. @mdelagrange  or @michaeltchapman do you guys know? I haven't worked with acls much.

[2015-10-09 15:28] mdelagrange commented on #192
I don't know if there is a good puppet reason to make it read-only, but @rytutis is correct that it can be set in the API.

[2015-10-09 15:42] aj-jester commented on #192
Right, this feature wasn't added until consul `0.5.1`. We can make it read-write and hopefully folks are one of the latest releases.

https://github.com/hashicorp/consul/blob/master/CHANGELOG.md#051-may-13-2015
https://github.com/hashicorp/consul/pull/909

[2015-10-09 16:30] michaeltchapman commented on #192
There's nothing special about the attribute's treatment in the provider afaict so changing it to read-write shouldn't be an issue.

[2015-10-14 19:21] reppard commented on #192
I've been bang my head on my keyboard for a little while now.  Is there a way to configured the Anonymous Token's policy via this module?  Simply trying to disable write perms for annoymous.

[code]

I keep getting Connection Refused like consul isn't up yet when consul_acl makes the api call.

[2015-10-14 19:43] mdelagrange commented on #192
@reppard it should work. I configure the Anonymous Token in much the same way without issue. Maybe it's a problem with your ACL token?

[2015-10-14 20:28] reppard commented on #192
@mdelagrange Thanks for the input.  I've confirmed it to be timing with this terrible hack job

[code]
Should I create another issue you think?  Seems like a poll and wait could be added for this api call.

[2015-10-14 20:35] mdelagrange commented on #192
Yeah I'd recommend that.  I've also experienced acl timeouts when I make a puppet change that leads to a consul restart.  My guess is that Consul returns from startup before the API is available, but it could also be an issue in the puppet-consul logic somewhere.

[2015-10-14 21:01] aj-jester commented on #192
@reppard Feel free to open a separate issue and I can take a look.

I think the general consensus here is to make this _write_ as well. have sometime this week I can look into this. If anyone else wants to work on this feel free.

[2015-10-14 21:03] reppard opened #193 "consul_acl makes api call before ACL api is available"
I get connection refused when trying to create/modify an acl policy via the consul_acl type.  I was able to create one by hacking in a wait, showing it to be a timing issue:
[code]

[2015-10-14 21:05] reppard commented on #192
@aj-jester Thanks man!  I created another issue.  I want to use consul as a secret storage backend for vault.  seems silly to have an anon policy that can read and write to everything for this use case.  If I have time I may look into a possible solution and submit a PR if I get one going.  Thanks for the great work.

[2015-10-14 21:08] aj-jester commented on #193
@reppard quick question, when you mean the API call is made before ACL api is available...is this happening right after consul has recently restarted? I can't imagine the API not being available during normal usage.

[2015-10-14 21:18] reppard commented on #193
Yes this is on a new node.  The service is started and the acl policy apply
is attempted directly after.  The failing request is /v1/acl/list I believe.
On Oct 14, 2015 5:08 PM, "AJ" <notifications@github.com> wrote:

[2015-10-15 21:45] altvnk opened #194 "Wrong number of arguments given"
[code]

Can you please explain what this thing want from me? Used default config like:
[code]

[2015-10-15 21:50] aj-jester commented on #194
Can you remove this line `'retry_join'         => $consulnodes,` and then see if you can compile?

[2015-10-15 21:55] altvnk commented on #194
Sure. Here is simplest ever config i've just tried, result the same.
Cannot understand where it finds three arguments here. And yes, where query nodes is used it returns three ip addresses of consul server nodes.

[code]

[2015-10-15 21:58] aj-jester commented on #194
I see the problem. For some reason the function being used is `sorted_json()`. The function we use is `consul_sorted_json()` https://github.com/solarkennedy/puppet-consul/blob/master/manifests/config.pp#L97

Can you tell me in your locally installed module whats files are in `/etc/puppet/environments/production/modules/consul/lib/puppet/parser/functions/*` and the contents of line 97 in `/etc/pupp

[2015-10-15 22:01] altvnk commented on #194
In `functions/`

[2015-10-15 22:05] altvnk commented on #194
Well, that's even more strange then...

[2015-10-15 22:08] aj-jester commented on #194
HAHA but the error makes no sense: *Error 400 on SERVER: __sorted_json()__: Wrong number of arguments given (3 for 1)*

Can you delete the entire module, restart your puppetmaster, ensure the module isin't being picked up, install module again, restart puppetmaster. I've come across similar issues in the past with functions. Since these functions run on puppet MASTER (not the individual agents/nod

[2015-10-15 22:11] altvnk commented on #194
Oh, my excuses... Somehow puppet server cached old manifests (i always thinked it's impossible). After restarting apache all worked like a charm! Modules managed by r10k after hook from git repo, so i'm looking into modules on master rarely.
Anyway, thank you for your time!

PS: new module updated web_ui but didn't touched consul itself.

[2015-10-15 22:12] #194 closed

[2015-10-15 22:14] aj-jester commented on #194
Glad to see you got it resolved :+1:

[2015-10-22 16:48] hopperd opened #195 "Add Support for Windows"
Adding this issue for tracking, my company will be working on providing this support as we have hundreds of windows boxes that will need this support.

[2015-11-24 19:10] split3 commented on #192
Is there anything else specifically that we need to merge this in?

[2015-12-04 21:25] lchi opened #199 "Default mode on config.json and service files is too permissive"
I noticed that when provisioning configs (`config.json` or services via `consul::service`) the default file permissions are used. Since these files will likely have tokens in them, I was thinking the permissions should be more restrictive.

Thoughts on using something like `mode => 0600`? I'd be happy to open a PR.

[2015-12-07 16:14] solarkennedy commented on #199
600 sounds too restrictive, even for me, and would be inflexible to other who are integrating the tool with other tools. We are setting the group, so I would accept a PR for an explicit 660, and if people need to read it, they can add their users to the consul group of their choosing.

It is using the default mode for whatever puppet has for your system. Is your default mode 600?
https://docs.pupp

[2015-12-07 17:10] aj-jester commented on #199
I think we can have both by creating a class param for `mode` and defaulting it to `0660`.

Also, we need to do this for any other configuration that has tokens; `service.pp`, `checks.pp` and `watch.pp`.

[2015-12-08 06:11] #199 closed

[2015-12-10 17:17] tzz opened #204 "Consul 0.6 support"
I noticed these were missing to support Consul 0.6:

* update download URLs and default version
* support `tcp` checks

Do you need patches for those?

[2015-12-10 17:47] split3 commented on #204
The download url should be fixed already along with upgrading via url automatically via #201 and #202

Haven't see anything for `tcp` checks, so patches welcome for that.

[2015-12-10 17:54] split3 commented on #204
Also the default version wasn't adjust to 0.6.0 currently either.

[2015-12-10 18:48] tzz commented on #204
For the TCP checks, I applied this simple patch (also fixing a message typo). Feel free to use it; it works for me and it's a tiny change.

[code]

[2015-12-10 18:50] tzz commented on #204
For the URLs, the #201 and #202 fixes look great.

Changing the default version is up to you, of course.

[2015-12-15 17:42] split3 commented on #103
This should now be resolved via #202

[2015-12-15 17:42] #103 closed

[2015-12-15 18:09] split3 commented on #107
Closing since this change was reverted.

[2015-12-15 18:09] #107 closed

[2015-12-21 17:02] gozer opened #210 "InitV startup script doesn't deamonize proprely"
Just running:

    daemon some-command &

Doesn't do the trick, as it leaves a hanging child process.

I'd personally suggest just using [deamonize](http://software.clapper.org/daemonize/) instead, or something similar.

[2016-01-04 21:28] horsehay opened #211 "consul_acl created on every puppet run"
The consul_acl resource I'm creating is getting created on every puppet run.

[code]

This is problematic because there appear to have been changes on every run. Is there an issue with the custom type/provider? Is anyone else seeing this?

[2016-01-05 03:49] solarkennedy commented on #211
This is a pretty common issue on puppet types/providers. Can you post some more data? (like the output of the 2 consecutive puppet runs and the actual json output of the api?)

[2016-01-06 05:44] sigerber commented on #211
We're experiencing the same thing. I think the issue here is that there is no 'prefetch' method so the property_hash is always empty. Therefore puppet thinks it always has to create the resource again. I've managed to fix this on a local copy.

I'll can try putting together a pull request tomorrow if you like.

[2016-01-06 15:40] solarkennedy commented on #211
Huh, I thought `prefetch` wasn't strictly required, just an optimization, and that you really needed `instances`, but I guess we are lacking both :(

Bonus points for implementing instances, we'll be able to run `puppet resource consul_acl` and it will spit out live puppet code! (in theory)

[2016-01-06 16:47] horsehay commented on #211
@sigerber: Good catch. I've not used prefetch in the modules I've built, so a PR would be awesome. Thanks!

[2016-01-06 21:33] sigerber commented on #193
You need to have a leader elected before you can use the rest API. This is how we implemented bootstrapping a cluster with ACLS in an idempotent way.

    exec { 'leader_elected':
      command     => "/usr/bin/test \"$(curl -s http://localhost:6500/v1/status/leader)\" != '\"\"'",
      tries       => 5,
      try_sleep   => 1,
      unless      => "/usr/bin/test \"$(curl -s http://localhost:6500/

[2016-01-06 22:44] sigerber commented on #211
I think from reading http://garylarizza.com/blog/2013/12/15/seriously-what-is-this-provider-doing/ that prefetch was the key. Certainly that was enough to get our idempotency beaker test work. But I'm pretty new to puppet... I've submitted a PR for prefetch, but I couldn't think of a way to make instances work - since it doesn't take parameters. You'd need to be supplied or discover the port and a

[2016-01-19 17:14] split3 opened #215 "Release version 1.0.5"
Are we in a state to be able to release version 1.0.5 to the forge?

[2016-01-20 14:07] bflad commented on #215
I would appreciate a forge release as well. Thanks!

[2016-01-20 15:43] solarkennedy commented on #215
1.0.5 released!

[2016-01-20 15:43] #215 closed

[2016-01-20 20:06] gozer opened #216 "Support creating ACLs while talking to a hostname other than localhost"
Right now, port is configurable, but the hostname is always localhost

[2016-01-20 20:12] gozer opened #217 "Support talking to Consul over https for ACL operations"

[2016-01-23 17:09] #216 closed

[2016-01-25 16:52] danielbenzvi opened #220 "Consul reload fails when rpc_addr is 0.0.0.0"
Hey
The reload_service class is trying to reload the consul service by explicitly specifying the rpc addr and port.
While this makes perfect sense in case non default ports are used, it fails when the rpc_addr was set to listen to 0.0.0.0.

[code]

[2016-01-26 03:58] solarkennedy commented on #220
Ah gotcha. @danielbenzvi can you make a PR to just connect to localhost instead if the rpc addr is `0.0.0.0`?

[2016-01-28 15:49] #220 closed

[2016-02-01 13:15] luckyraul opened #223 "Duplicate declaration: Class[Staging] with puppet/mysql mysqltuner"

[2016-02-01 13:51] bflad commented on #223
Hmmm, this module is using `include staging` which should not cause duplicate declaration:
https://github.com/solarkennedy/puppet-consul/blob/master/manifests/install.pp#L18

While `mysql::server::mysqltuner` uses a hard class declaration:
https://github.com/puppetlabs/puppetlabs-mysql/blob/master/manifests/server/mysqltuner.pp#L31-L35

They might be able to fix the mysql module to use `include st

[2016-02-01 14:00] luckyraul commented on #223
created issue there.

[2016-02-01 17:08] luckyraul opened #224 "Encryption"
Is this supported https://www.consul.io/docs/agent/encryption.html ?

[2016-02-01 18:00] bflad commented on #224
We use the `encrypt` configuration in our config_hash and it starts up with gossip encryption without issue in our setup. Our hiera looks like:

[code]

As for automatically generating that value for the configuration, I'm not sure that's something that can be done here at the moment.

[2016-02-01 18:55] luckyraul commented on #224
thanks

[2016-02-01 18:55] #224 closed

[2016-02-01 18:56] luckyraul commented on #223
thanks

[2016-02-01 18:56] #223 closed

[2016-02-02 02:49] solarkennedy commented on #223
Yea, not a great situation. The only other option I would like to provide is that you could ensure that `mysql` is *parsed* before `consul`, but parse-dependent puppet code sucks.

[2016-02-04 11:23] luckyraul commented on #223
They accepted issue.

[2016-02-08 07:31] DjxDeaf opened #225 "Systemd limits issue"
Under systemd, the nofile and nproc should be set within the consul.service in order for them to take effect.
Under heavy installations, there are multiple errors such as:

`[ERR] memberlist: Error accepting TCP connection: accept tcp [::]:8301: accept4: too many open files`
`[ERR] consul.rpc: failed to accept RPC conn: accept tcp [::]:8300: accept4: too many open files`
`[ERR] memberlist: Error a

[2016-02-09 02:42] CruzanCaramele opened #228 "Question : Atlas join"
One of the features of Consul is to view the state of your infrastructure on Atlas . Is there a way to configure your infrastructure using this module to have it display the state of the infrastructure on Atlas ?

[2016-02-09 16:09] solarkennedy commented on #228
https://www.consul.io/docs/guides/atlas.html

Using arbitrary option in `config_hash`, looks like you can do this. Looks like it would probably be better for us to support the `ATLAS_TOKEN` env variable so you don't see it in the cli flags in ps.

PRs welcome for a readme update or any changes needed to make this work! AFAIK nobody has done it yet.

[2016-02-09 16:10] #225 closed

[2016-02-22 18:03] brahama opened #230 "Services variable not working with hiera hash. Expects an array of hashes it seems."
Hi guys,

I am trying to make the hash for services work but i see in the conf json, that the result config is like this:
[code]

when it shouhld be like this:

[code]

Or am i doing somethign wrong?

My hiera conf is like this:

[code]

Cheers!

[2016-02-22 21:04] nvtkaszpir opened #231 "Service reload too quick"
Looks like sometimes Exec['reload consul service'] executes commands while consul service is still starting up - thus getting error message 'connection refused'.

For me  this was fixed by adding 'tries' to Exec in reload_service.pp

[code]

But still needs better testing.

[2016-02-24 16:41] albustax opened #232 "Service start is broken on Debian > 8.0"
Hello,

On Debian 8.2, (and 8.x globally), catalogue compilation is broken with this message:

[code]

Puppet try to launch the service with `init` because `provider`is not set on [service declaration](https://github.com/solarkennedy/puppet-consul/blob/7ba8c2460f06245f6ba6e64a90f1446ead611882/manifests/run_service.pp#L14)

This is a bug with the puppet provider, for more informations, see [this bu

[2016-02-25 03:37] solarkennedy commented on #232
Can you make a PR to make it work on the platform you use?
The code hint is probably here:
https://github.com/solarkennedy/puppet-consul/blob/3e43a74949df1ff9892f93ac5deb2a8fdc9d6362/manifests/params.pp#L52

[2016-02-26 05:43] solarkennedy commented on #230
The `services` entrypoint in puppet-consul just uses `create_resources`. It is not intended to map directly into consul json.

On the config on disk, I would expect to manifest as different files per service.

Your input to puppet consul is a *hash*, there the keys are the service names and the values are the inputs to `consul::service`.

[code]

[2016-02-26 22:20] brahama commented on #230
Hey! thanks for the response... right now i hve it like you mention. But that involves calling specifically the entrypoint for that services... I want to use hiera so i dont need to call that specifically in the module. I am trying to use the services variable that says it needs a hash. Sorry, im kinda new so maybe i didnt explained correctly...

validate_hash($services)

So in hiera i have to fil

[2016-02-26 22:45] bflad commented on #230
Hi! As Kyle mentioned, and gave an example. The way the hiera is setup requires a pattern that translates into:
[code]

So for example in our production hiera, we have a setup like:
[code]

Of course your services and checks will be unique compared to my example, but generally this is how hiera works with `create_resources()` calls under the hood, like how its used in this module. Hope this helps!

[2016-02-27 03:17] solarkennedy commented on #230
Thanks @bflad, it is nice to see a more realistic example. I've added it to the README.

[2016-03-02 18:30] split3 commented on #129
I believe this issue is now fixed are we ok to close this?

[2016-03-04 15:46] #231 closed

[2016-03-08 10:33] mrh666 commented on #194
Hi there,

I have the same issue and I can't get rid of cache!
I uninstalled old KyleAnderson-consul, restarted httpd (foreman+Passenger install), installed KyleAnderson-consul 1.0.5, restarted httpd, removed cache on local node (rm -f /var/lib/puppet/client_data/catalog/*) and still no luck:

[code]

Any ideas please?

[2016-03-08 15:50] solarkennedy commented on #194
Pretty strange. @mrh666 can you look at `/etc/puppet/modules/consul/` and manually inspect it to ensure it has a modern version of puppet-consul?

Also on your influxdb client, can you inspect `/var/lib/puppet/lib/puppet/parser/functions` to see if the `sorted_json.rb` matches what is in puppet-consul's?

[2016-03-08 18:11] mrh666 commented on #194
solarkennedy, sure!
Even like that:

[code]

Check the config.pp:

[code]

On the instance:

[code]
I can't believe but it's cached somehow or ...

[2016-03-08 18:30] mrh666 commented on #194
solarkennedy, Just in case I deployed a new instance. Same story, it's cached on master:

[code]

[2016-03-08 22:45] brahama commented on #230
Ok! thanks for the responses guys. Very helpful.

[2016-03-08 22:52] brahama opened #236 "Error while trying to create user consul... due group already exists"
Could not create user consul: Execution of '/usr/sbin/useradd -M -r consul' returned 9: useradd: group consul exists - if you want to add this user to that group, use -g

Just tried and removed the group to see if that perhaps already existed, but same issue as group is created first.

[2016-03-09 19:12] brahama commented on #236
Yes, it can be bypassed by the manage_group to false. But seems to me its not that tidy perhaps.

Cheers!

[2016-03-09 23:35] split3 commented on #194
@mrh666 did you restart the puppet master and try again? Puppet caches function eternally until a restart of the puppet master.

[2016-03-10 13:21] bdronneau commented on #232
Hey, this not the PR https://github.com/solarkennedy/puppet-consul/pull/125 ?

[2016-03-10 13:22] albustax commented on #232
:+1:

[2016-03-10 14:29] mrh666 commented on #194
@split3, sure I did. And just in case I did it again:

[code]

I can see all the processes are running from the moment I restarted them 14:12 - 14:13:

[code]

And I still getting obsolete manifest on node:

[code]

Any idea how can I coerce Puppet Master to reset the cache?

[2016-03-10 15:18] solarkennedy commented on #232
I've merge #125. Please try master.

[2016-03-10 15:20] solarkennedy commented on #236
Ah. Seems like we should be ordering the group before the user in the install.pp. Can you make a PR?

[2016-03-11 01:15] joshuaspence opened #237 "Failed to start Raft: permission denied"
33a72c3701e52e90b50ffae01e45316dd1f5631a seemed to break things for me. After updating the puppet module to 1.0.5, the `consul` service refuses to start. In the error logs, I see this:

[code]

Running `sudo chown -R consul:consul /mnt/consul` seems to fix the issue.

[2016-03-11 02:51] solarkennedy commented on #237
We have the data_dir setting:
https://github.com/solarkennedy/puppet-consul/blob/85de0cde707f2c011754677c097c53e61e66e664/manifests/install.pp#L8

Is that set?

[2016-03-11 03:32] joshuaspence commented on #237
Yes, it is set to `/mnt/consul`

[2016-03-11 15:14] solarkennedy commented on #237
Ah I see. But we don't recurse.

Yea this is going to be a one time chown you are going to have to do. New users will create the folder and start consul as the non-privileged user, so everything down below will be correct.

[2016-03-12 12:42] rtoma opened #239 "Support for prepared queries"
Hi, please add support for Prepared Queries: https://www.consul.io/docs/agent/http/query.html

[2016-03-14 14:42] brettswift commented on #195
We're looking for this as well.  Our numbers would be at least a hundred, potentially quite a bit more.

If you guys want some early testing let me know.

[2016-03-15 13:11] fatmcgav opened #240 "Master broken on EL6 due to "Invalid service provider 'sysv'""
When mistakenly using master, I observed that this module was broken on my CentOS 6 test box with the following error:

A quick browse through the code suggests that 85de0cde707f2c011754677c097c53e61e66e664 is the cause of this breakage, specifically whereby it's enforcing the `provider` param.
On <EL7, the default `provider` is `init`, not `sysv`.

Running through the history on `params.pp`, it l

[2016-03-15 19:34] brettswift commented on #195
@split3  curious - are you guys using chocolatey?   https://chocolatey.org/packages/consul

[2016-03-15 19:47] split3 commented on #195
We aren't, we have the windows support initially written entirely in puppet, just needs some tightening up and polish.

[2016-03-16 20:25] split3 opened #242 "Switch from using staging module to archive"
Most of the development on the archive module as stopped and is being done now via the puppet-archive module instead:
https://github.com/voxpupuli/puppet-archive

We should consider switching to using this updated module.

[2016-03-17 17:04] split3 commented on #195
We will need to replace the staging module with archive to provide support for windows.  This initial work is already completed by #243

[2016-03-17 21:38] #240 closed

[2016-03-19 12:27] bdronneau commented on #232
with your last commit, puppet is able to start consul :+1:

[2016-03-22 18:45] berlincount opened #246 "package_name and ui_package_name can't be the same"
We use a custom RPM with consul that has consul_ui inside already ... installing that right now is impossible, because that gives a duplicate Package[consul] resource.

[2016-03-23 12:49] split3 commented on #246
Are you providing a `$consul::ui_dir` as that is the only way that package will get installed. If you don't provide that value the package for the UI won't get installed.  If your package already combines them try not providing the `$consul::ui_dir` and see if that works.

[2016-03-25 13:02] split3 commented on #246
So looks like it wouldn't be possible to omit the `$consul::ui_dir` as that is need in the config hash for consul and is looked up that way:
[https://github.com/solarkennedy/puppet-consul/blob/master/manifests/install.pp#L49](url)

So in this case we may need to option to forcibly exclude trying to install the UI package in this particular case.

[2016-03-25 13:03] #242 closed

[2016-03-25 13:07] split3 commented on #230
I think this issue is resolved now, if not please re-open.

[2016-03-25 13:07] #230 closed

[2016-03-25 13:26] split3 commented on #187
Closing since this is fixed.

[2016-03-25 13:26] #187 closed

[2016-03-25 13:27] split3 commented on #129
Closing as I believe this is fixed now, please re-open if that isn't the case.

[2016-03-25 13:27] #129 closed

[2016-03-25 13:28] split3 commented on #124
Closing since this is an old issue and @aj-jester stated this should be resolved by the above issues.

[2016-03-25 13:28] #124 closed

[2016-03-25 13:29] #79 closed

[2016-03-25 13:31] split3 commented on #83
Closing as this is an old issue and seems to be fixed.  If not please re-open the issue.

[2016-03-25 13:31] #83 closed

[2016-03-25 14:15] split3 commented on #195
Initial code for this (work in progress) has been posted to the following branch:

[https://github.com/solarkennedy/puppet-consul/tree/feature/windows_support](url)

Still quite a bit of work like tests, nssm optional usage (defaulting to sc for management, etc)

[2016-03-26 20:25] #232 closed

[2016-03-29 21:26] benpillet opened #249 "chkconfig init files are not setup for consul on CentOS 6"
I created a PR #248 but it doesn't use the init_style correctly.  Should the service provider just use the puppet default init settings instead?

[2016-04-12 16:05] blsmth opened #250 "nanliu-staging dependency"
is there an explicit need for this dependency?

That module is not compatible with Puppet >= 4.0.   It's blocking me from using puppet-consul in a Puppet 4 environment.

[2016-04-12 17:33] split3 commented on #250
That dependency was recently removed and shouldn't be present in the master branch currently and you could test.  We haven't cut a release since that merged was done.

[2016-04-13 03:19] solarkennedy commented on #250
I'll make a new release

[2016-04-13 03:25] solarkennedy commented on #250
Go for 1.0.8 without staging.

[2016-04-13 03:25] #250 closed

[2016-04-13 03:26] solarkennedy commented on #250
@blsmth additionally we have puppet 4.1.0 and 4.0.0 in .travis.yaml, so we should be compatible (or at least test against it)

[2016-04-13 14:24] brettswift opened #252 "Support for External Services"
https://www.consul.io/docs/guides/external.html

This is something I was just looking for.  It'd be nice to have a list of external service declaration in hiera.

Assuming a puppet master, these DNS entries would only come and go when Puppet runs - so the lifecycle and use case is different than other services.

Has there been conversation about this before?  Is this something other people would w

[2016-04-13 15:15] solarkennedy commented on #192
@mdelagrange good to close?

[2016-04-13 15:15] #204 closed

[2016-04-13 15:15] #210 closed

[2016-04-13 15:15] #228 closed

[2016-04-13 15:18] solarkennedy commented on #252
As far as I know nobody has asked for this yet. I would assume in the design that the service would not be ephemeral, that someone would have to say ensure=>absent if they wanted the service to go away.

It is a little tricky and would require some ruby chops to do this as they would have to do a real type/provider on the catalog api: https://www.consul.io/docs/agent/http/catalog.html

[2016-04-13 16:03] brettswift commented on #252
Yea I was wondering if there would be a way of marking all external resources so you wouldn't have to do the `ensure => absent` thing.   Could get a little intensive searching for resources not in the catalog and executing the `deregister` dynamically, depending on how heavy you were to use this feature.

You're right though, external services in consul aren't ephemeral - the example consul docs u

[2016-04-13 17:03] mdelagrange commented on #192
yeah i think that will do it

[2016-04-14 03:09] solarkennedy commented on #252
Well if the provider were written and implemented the `self.instances` method, then you could do this:

[code]

It wouldn't be that intensive because you would probably just end up calling the `prefetch` method, which would only have to call a single endpoint: https://www.consul.io/docs/agent/http/catalog.html#catalog_services
nbd.

And then any discovered services that were not in the catalog wou

[2016-04-15 01:39] blsmth commented on #250
great, thanks @solarkennedy

[2016-04-15 12:54] Cinderhaze commented on #187
There is another solution. (just ran into this in my copy of 1.0.2)

If you put the relationship after the ensure_packages, it can work without breaking other ensure_packages.
[code]
This allows you to still ensure that the package is managed, but doesn't cause a Duplicate Declaration error.  I'm guessing it's similar to the
[code]
vs
[code]
schematics.

[2016-04-15 14:34] solarkennedy commented on #187
That will still cause the duplication error if another user declares (not via ensure_packages) `unzip` before `consul` is parsed.

[2016-04-18 20:48] xdexter opened #253 "Error depencie archive"
Hello,

Currently I use the module "Camptocamp/archive", however I can not use this module due to dependence of the module "puppet/archive" as the two have the same name I can not use both, there is a way around this problem?

Att;

[2016-04-20 14:55] solarkennedy commented on #253
I don't know if it is going to work, but you can try it. Tell whatever tool you are using to install the module to ignore the dependencies would be the way around that.

We only test against puppet-archive.

[2016-04-20 14:55] #253 closed

[2016-04-20 16:52] xdexter commented on #253
Hello @solarkennedy, I use r10k to manage the modules, but managed to solve the problem by adding a specific version of the module "KyleAnderson/consul" in case the v1.0.5, this version is not yet used the dependence of the "puppet-archive"

Thank you

[2016-04-28 19:43] brainonmute commented on #228
I was wondering what the syntax is for this then. I am unable to use the config hash as follows:

[code]

[2016-04-28 19:52] brainonmute commented on #228
I would love to do this and have been testing it. I may be missing something basic here.

[code]

Doesn't seem to work. I can use the same settings to start the agent manually (passing agent options inline). When I use the above, I get

[code]

Any ideas?

[2016-04-29 04:53] solarkennedy commented on #228
You need to use the correct keys: https://www.consul.io/docs/agent/options.html#atlas_infrastructure

This is part of the config hash, they are not command line options.

[2016-05-06 04:16] brainonmute commented on #228
Thank you, that was it.

[2016-05-12 04:04] brainonmute opened #256 "/opt/consul/serf/local.keyring is not replaced when changing encryption keys"
If you run consul keygen to generate a new key, the servers and agents will not replace the local.keyring file if it already exists. If you delete local.keyring and do a Puppet apply, the problem is resolved.

The error you receive on an agent is:
`[INFO] agent: (LAN) joined: 0 Err: EOF
`
The error you receive on a server is:
`[ERR] memberlist: failed to receive: No installed keys could decrypt th

[2016-05-13 04:14] solarkennedy commented on #256
Are you sure this a problem with the puppet module?
Looks similar to this upstream issue:
https://github.com/hashicorp/consul/issues/719

[2016-05-13 10:58] wmuizelaar commented on #195
Would love to have chocolatey support as well - is there a way I can contribute?

[2016-05-13 17:48] brainonmute commented on #256
I believe this is the same issue.

[2016-05-14 16:21] solarkennedy commented on #256
Ok in that case I'm going to close it in favor of that one.

[2016-05-14 16:21] #256 closed

[2016-05-27 17:24] ferventcoder commented on #195
@split3 @wmuizelaar +1 on chocolatey support.

[code]

Here's the package fully ready to rock - https://chocolatey.org/packages/consul

We always suggest hosting your own internal packages on an internal package server when you are using Chocolatey for production purposes. You will see this package is ready to go already since it doesn't download any external resources, so it won't need any recomp

[2016-05-27 17:25] ferventcoder commented on #195
Forgot to mention, there is a download link on the left side.

[2016-05-27 18:52] split3 commented on #195
The feature branch that has this work is located here:

https://github.com/solarkennedy/puppet-consul/tree/feature/windows_support

Feel free to work from that to add the chocolatey support if desired.  I'm curious though, what value does chocolatey add that isn't covered by the module itself?

[2016-05-27 21:09] ferventcoder commented on #195
Based on your description, you offer install by url or by package - Chocolatey would be the by package route for Windows.

Lots of work went into that feature branch, and packaging could give you a second option without much more effort. One could use the consul package from https://chocolatey.org and offer the option to override that with an internal package.

[2016-05-28 04:29] solarkennedy commented on #116
We now use puppet-archive, so I would accept a PR that enables verification.

[2016-05-28 04:30] #192 closed

[2016-05-28 04:32] #237 closed

[2016-05-28 04:38] #249 closed

[2016-06-02 15:10] sjoeboo opened #261 "enableTagOverride value being written as a quoted string, need to be unquote boolean."
The recent addition of the enableTagOverride service config option seems to be writing the value as a quoted string:

[code]

Which cause consul to fail to load the service:

[code]

Removing the quotes around false, allows it to load:

[code]

I'll see if i can work up a fix and submit a pr, but wanted to file the issue now.

[2016-06-03 14:58] #261 closed

[2016-06-24 08:53] joshuaspence commented on #253
I am also facing this issue and have had to pin to version 1.0.5 as a result. Basically, I already have many modules which use camptocamp/archive and this cannot add puppet/archive. See voxpupuli/puppet-archive#165.

[2016-06-24 10:33] berlincount opened #268 "Changelog on Puppetforge not updated for 1.0.9"
Subject says it all ;) Thanks for the great module!

[2016-06-24 14:39] solarkennedy commented on #268
Heh. Grumble.

I need to remember to update the changelog *before* the release bump :)

I'll "Makefile" this up so I don't have to remember next time

[2016-06-25 19:01] solud commented on #253
Likewise this issue affects us as we use the [camptocamp/puppet-archive](https://github.com/camptocamp/puppet-archive) module. The two archive modules are not currently compatible but may be one day, according to the issue @joshuaspence linked. That effort is only just beginning but until then it seems we'll have to pin to 1.0.5 as well.

[2016-06-28 01:15] walkamongus opened #269 "Add proxy support"
Consul is unable to download from behind a proxy. Proxy parameters should be added and then passed down into the archive resources to enable this.

[2016-06-28 02:21] solarkennedy commented on #269
I don't think this is really necessary or advisable. This module uses
https://github.com/voxpupuli/puppet-archive#archive

You could either set your proxy at the system level (setting the `http_proxy` variable):
http://www.cyberciti.biz/faq/linux-unix-set-proxy-environment-variable/

Or if you really must do it in puppet, you should do it in such a way so that it applies to all modules, not just t

[2016-06-28 12:40] walkamongus commented on #269
Hi,

Thanks for the note on resource defaults.

I definitely wouldn't want to set a system-wide proxy as mentioned in the article you linked to. It seems to assume interactive and/or login shells. Also, a system-wide proxy setting will break connections to the local LAN unless your proxy is configured to do some sort of intelligent hairpinning for local LAN connections.

While the resource default

[2016-06-28 14:32] solarkennedy commented on #269
Alright you have convinced me, but only as much to leave the issue open for you or someone else to make the PR. I just worry about exposing every single option to everything in a puppet module.

I understand that there is the use case for only using an http proxy with this one puppet module, but imo a proxy setting *is* a system-wide thing. (You use the no_proxy var to specify the names/ips to not

[2016-06-29 12:57] walkamongus commented on #269
I agree it would be nice to be able to set this system-wide but it's up to each program as to whether it respects the `*_proxy` environment variables (and I've run into some that don't).

Thanks for reconsidering and reopening. After some internal deliberation, installation through proxy was abandoned in favor of another solution. I'm re-closing so you don't have the issue hanging around.

[2016-06-29 12:57] #269 closed

[2016-07-04 17:58] brahama opened #270 "Question: URL method downloads the zip file every run?"
Hi guys!

Every run of consul module makes the total run of puppet increase by 60 seconds. I assume that it it becasue it downloads the zip every time. Could this be? Thanks!

[2016-07-04 18:29] solarkennedy commented on #270
It should not be downloading every time. Add --debug to the run output and pipe to `ts` and maybe that might help reveal the slowdown?

[2016-07-04 19:05] brahama commented on #270
Great Tip! i was thinking in preappending timestamp to debug.. thankks!

Here are some of the outpuut

Jul 04 15:46:30 Debug: /Stage[main]/Consul::Install/File[/usr/local/bin/consul]: Adding autorequire relationship with File[/opt/puppet-archive/consul-0.6.4/consul]
Jul 04 15:46:45 Debug: /Stage[main]/Consul::Config/File[/etc/init.d/consul]: Adding autorequire relationship with User[root]
Jul 04 1

[2016-07-04 19:48] brahama commented on #270
Here i just commented the include that calls consul and it took much less time

Jul 04 16:25:15 Debug: Executing: '/usr/bin/yum check-update'
Jul 04 16:25:19 Debug: Prefetching aliases resources for mailalias
fresh event
Jul 04 16:25:19 Notice: Linux default without consul agent false
Jul 04 16:25:19 Notice: /Stage[main]/Role::Defaults/Notify[Linux default without consul agent false]/message: defi

[2016-07-04 21:45] brahama commented on #270
I removed the notify... how can i look deeper here?

Jul 04 18:12:46 Debug: Cleanup archive /opt/puppet-archive/consul-0.6.4.zip
Jul 04 18:13:31 Debug: /File[/etc/consul/config.json]/seluser: Found seluser default 'system_u' for /etc/consul/config.json

It always stays there the longest. In the server logs, no long request. all normal times.

heres the culprit but its strange

Info: /Stage[main]/C

[2016-07-04 22:42] brahama commented on #270
Yeps. Thats the bug. I would say in User resource. It does the check for the entire ldap so it takes almost 60 seconds to eval.
No forcelocal being honored so dunno how to override this yet..

[2016-07-04 22:56] brahama commented on #270
Really dunno how to avoid this. If you have any idea i really appreciate.

Cheers!

[2016-07-05 14:40] solarkennedy commented on #270
If you know you want puppet to be using an attribute in a particular way, you can set a global resource default:
[code]
https://docs.puppet.com/puppet/latest/reference/lang_defaults.html

Or you could tell the module to not manage the user:
https://github.com/solarkennedy/puppet-consul/blob/master/manifests/init.pp#L56

And make the user manually in ldap?

[2016-07-05 16:41] brahama commented on #270
Thanks for the answer! I already did thhe default in the main site.pp but as i mentioned, there is a bug in puppet that doesnt honour it. So, the user is created and its working all ok. But the catalog now takes 70seconds instead of 5s. Whats weird is that, i manage local users in other modules and doesnt seem to be affected. I was thinking in managing it ouutside consul as you suggest. Will see i

[2016-07-05 21:24] brahama commented on #270
Well, as a workaorund i set a resource user {'consul': ensure => present} in one of my profiles and set manage_user to false in consul module. This makes the catalog to apply in 5 seconds, instead of 70.
What i am not sure is, why if i use the resource outside consuul module, it works ok, and the consul module, the same resource takes a minute longer. Too weird! So this is ok to closee. Thanks for

[2016-07-06 02:03] #270 closed

[2016-07-06 02:05] solarkennedy commented on #270
That sounds like an OK solution. The only possible issue I could think of is parse-ordering issue where the resource defaults are not taking precedence before `consul` is evaluated.

[2016-07-15 15:26] berlincount commented on #268
Do you have an update for me there? :)

[2016-07-16 03:48] solarkennedy commented on #268
I've added 1.0.10 with the changelog bundled so it shows up in the forge and a make target to help me remember.

[2016-07-16 03:48] #268 closed

[2016-07-27 04:32] #217 closed

[2016-08-12 05:00] vopensource opened #273 "Consul service is not starting up"
Error: /Stage[main]/Consul::Run_service/Service[consul]: Provider init is not functional on this host

[2016-08-12 14:37] solarkennedy commented on #273
What is your distro?

[2016-08-13 05:10] vopensource commented on #273
RHEL 6.5

_Veeksha

On Fri, Aug 12, 2016 at 8:07 PM, Kyle Anderson <notifications@github.com>
wrote:

[2016-08-13 05:13] solarkennedy commented on #273
Can you confirm you are using a recent version of the module?

The default provider for RHEL6.5 should be "redhat", not init:
https://github.com/solarkennedy/puppet-consul/blob/875a336c508ddf279eb4ef36923ddfb1f324ba0b/manifests/params.pp#L41

[2016-08-13 06:21] vopensource commented on #273
No i was not using recent version of the module, it was taking init in one
of the earlier version of the module i believe , so took the latest version
now and is working.
Thanks !

On Sat, Aug 13, 2016 at 10:43 AM, Kyle Anderson <notifications@github.com>
wrote:

[2016-08-13 15:26] #273 closed

[2016-08-16 14:45] #193 closed

[2016-08-25 07:37] mgla opened #275 "Support for puppet-archive >=1.0.0"
The current version of puppet-archive is v1.1.1, and it _seems_ to work just fine with v.1.1.1 (I am not able to verify this). Maybe update the metadata.json to allow newer archive versions without error?

Current dependency:
[code]

[2016-08-25 11:35] epleterte commented on #275
I hit this now as well. From puppet-librarian:

    [Librarian] Conflict between puppet-archive (< 1.0.0, >= 0.5.0) <(no source specified)> and puppet-archive/1.0.0 <https://forgeapi.puppetlabs.com>
    Could not resolve the dependencies.

I will try just allowing a newer version of the archive module.

[2016-08-28 18:10] ghoneycutt commented on #275
Tried using puppet/archive v1.1.1 and it has syntax errors that made it unusable at all with Puppet v3.

[2016-08-28 18:23] mgla commented on #275
@ghoneycutt Can you elaborate on the syntax errors? It works fine for me

[2016-08-28 18:28] solarkennedy commented on #275
The only build failures in #227 are related to Puppet 3.1.0.
I'm pretty sure we have test coverage to cover all the cases where we use `archive`.

[2016-09-15 07:39] krjensen commented on #275
Can we get this fixed soon? unable to install on Ubuntu 16.04 without this fix.

[2016-09-17 04:38] solarkennedy commented on #275
@ghoneycutt can you look at #277? I did have to remove 3.1.0 from the matrix, the exact failure was here: https://travis-ci.org/solarkennedy/puppet-consul/jobs/155769754

The matrix on that pr still has 3.3, 3.7, and 3.8, so decent v3 coverage?

[2016-09-22 14:57] #275 closed

[2016-09-23 15:03] solarkennedy commented on #275
I've release 1.1.0 of this module with this change.

[2016-09-23 15:04] solarkennedy commented on #170
This was solved by @tdevelioglu in #278

[2016-09-23 15:04] #170 closed

[2016-09-23 15:05] solarkennedy commented on #116
We are now officially using the latest version of puppet-archive, so this is *actually* possible if someone wants to try.

https://github.com/voxpupuli/puppet-archive#archive

With `checksum_verify` and related options for pointing the module at the right checksum url.

[2016-09-23 15:08] solarkennedy commented on #195
We are cut over to puppet-archive (officially) now 100%.

I would be down for either installation approach, it doesn't have to be perfect the first time.

[2016-09-27 19:35] bflad opened #282 "systemd Client Nodes Not Properly Leaving Cluster on Shutdown"
## Details

OS: Ubuntu 16.04
Consul: 0.6.4 and 0.7.0
Puppet: 4.6.1
Puppet Module: 1.1.0
Puppet Config:

[code]
## Behavior

On shutting down servers running the Consul client on Ubuntu 16.04, they show up as `failed` in `consul members` and the web UI afterwards. This was not an issue in 14.04 using Upstart where they'd be gracefully shutdown, e.g. `left`. Tried both Consul 0.6.4 and Consul 0.7.0

[2016-09-30 12:09] Cinderhaze commented on #236
From what I understood, users should autorequire groups if they are declared in the same manifest.. I may be mistake though

[2016-09-30 14:50] solarkennedy commented on #236
Yea, but only primary group (gid) and that is what #247 solves.

If you care about this issue, would you like to rebase #247 so it passes tests and applies on master?

[2016-09-30 14:51] phyber opened #283 "Quoted integer (string) to integer is breaking tags"
In https://github.com/solarkennedy/puppet-consul/issues/119 quoted things that look like integers are explicitly turned into integers.

This breaks if you want a tag such as `"tags": ["106"]` as now you turn this into `"tags": [106]` and `consul` will no longer start, giving the error:
`* 'Tags[0]' expected type 'string', got unconvertible type 'float64'`.

Would it be possible just target areas o

[2016-09-30 15:11] solarkennedy commented on #283
Hmm. Yea I guess we could either whitelist tags or "blacklist" things like `port`?
@aj-jester or @weitzj do you have any opinions?

[2016-10-02 19:34] weitzj commented on #283
I do not have any opinion.

[2016-10-03 14:44] solarkennedy commented on #283
@phyber I would accept a PR that whitelists `tags`, or just casts them to strings right before returning the json, as `tags` will always be an array of strings.

[2016-10-12 16:03] djtaylor commented on #239
Fixes #288

[2016-10-13 12:46] djtaylor commented on #239
This PR has been merged. This issue can be closed for now.

[2016-10-13 14:54] #239 closed

[2016-10-24 19:18] mspaulding06 opened #290 "Consul binary not found when puppet agent is daemonized"
Sometimes the consul binary cannot be found when resolving facts on a system.  This results in information like the consul_version fact not being available to puppet modules.  It turns out that the problem happens because the default install location of the consul binary symlink is `/usr/local/bin`.  When the puppet agent is daemonized on system start it is run by the init process which does not h

[2016-10-25 08:06] jaxxstorm opened #291 "New prepared queries provider not accepting integers"
My code
[code]

The result of this is:

[code]

Has anyone actually managed to get this working?

[2016-10-25 14:48] solarkennedy commented on #291
This feature is brand new. You might need to collaborate with @djtaylor to get things going.

You could do the `=> 0 + 10` hack to coerce it into an int maybe?

[2016-10-25 14:51] solarkennedy commented on #290
Blarg :(

`/usr/local/bin` "feels" like the right place to put a randomly downloaded file.

As a work around you could change the bin dir:
https://github.com/solarkennedy/puppet-consul/blob/605f5a705187f5783df20a67d0eb70b978a3ae09/manifests/init.pp#L16

Also we could "hack" the path in the fact itself.

[2016-10-25 15:03] mspaulding06 commented on #290
I agree that `/usr/local/bin` "feels" like the right place.  It just, sadly, doesn't seem to work.  And I assume I'm not the only person affected by this.  It would be unfortunate to require all users of the module to set `bin_dir` in order to get facts to resolve.

When you say "hack" the path, are you referring to setting the fact's binary to use an absolute path like `/usr/local/bin/consul`?  T

[2016-10-27 07:20] madAndroid opened #293 "Consul user is created with login shell"
Hi,

We're implementing CIS compliance based on the [CIS benchmark](https://benchmarks.cisecurity.org/tools2/linux/CIS_CentOS_Linux_7_Benchmark_v2.1.0.pdf), and when we're running our InSpec profiles on servers that have consul installed via this module, the system user created for consul has a login shell set (`/bin/bash` in this case) .. would you be open to explicitly setting the shell to `/sbi

[2016-10-27 14:51] solarkennedy commented on #293
Whoa. Yes please.

[2016-10-29 03:04] solarkennedy commented on #290
This is the first time this issue has been raised, but yes you are probably not the only person to be affected.

When I say "hack" I mean literally adjust the path in the environment during execution of the fact to include `/usr/local/bin/` if it ins't in there.

[2016-10-31 13:32] djtaylor commented on #291
I will try to take some time to look at it this week. I am storing integers in hieradata for that parameter, and passing it off to the provider via create_resources without that issue, but I will try it your way and see if I can work out a solution.

[2016-11-04 14:31] djtaylor commented on #291
@jaxxstorm I am unable to reproduce your error. I have tried passing in values to `service_failover_n` via hieradata, profile parameters, variables inside the class, and direct integers. Can you let me know what version of Puppet you are on?

[2016-11-05 02:02] solarkennedy commented on #291
Also try:
`service_failover_n    => $consul_failover_n + 0,`

[2016-11-06 14:22] jaxxstorm commented on #291
@djtaylor I'm on 3.8.7

[2016-11-14 15:38] #293 closed

[2016-11-14 15:38] solarkennedy commented on #293
Thank you for addressing this.

[2016-11-15 05:17] madAndroid commented on #293
Thanks :)

[2016-11-15 14:16] madAndroid commented on #293
It turns out this might be problematic :(

https://github.com/hashicorp/consul/issues/1358#issuecomment-223027340

We're now seeing health checks fail .. might be better to revert this change until the issue with consul using a login shell is fixed ... sorry for the hassle, turns out this wasn't a wise change

[2016-11-15 15:30] solarkennedy commented on #293
Crap. Reverted :(

[2016-11-15 16:27] madAndroid commented on #293
Sorry about that! a bit annoying that consul's using a login shell instead
of just running golang's exec... I've had to add an exception for our CIS
benchmarks for that, for now

On Tue, Nov 15, 2016 at 5:30 PM, Kyle Anderson <notifications@github.com>
wrote:

[2016-12-13 12:17] amiryal commented on #282
That’s interesting, I will look into that and submit a patch (or update #301 if it doesn’t get merged before then). Alternatively, we can file a bug to [hashicorp/consul](https://github.com/hashicorp/consul) for not handling the TERM signal like any other POSIX daemon. (According to [documentation](https://www.consul.io/docs/agent/basics.html#stopping-an-agent), they use the INT signal instead for

[2016-12-13 21:49] claflico commented on #195
We want to use this module for managing Windows as well. Anything we can do to get the ball rolling on this again?

[2016-12-13 22:14] ferventcoder commented on #195
@solarkennedy From what I can see, you are already set up to support the Chocolatey package - https://github.com/solarkennedy/puppet-consul/blob/132a80cf64b9351a036f0baa5c2382f723a5c1cd/manifests/install.pp#L82-L84. Once the url route bits are accepted, there may not be much else that needs to change. Would need some testing.

[2016-12-14 04:25] solarkennedy commented on #195
Yea, and it is totally ok to release windows support as "experimental".

Do you want me to merge this as is? https://github.com/solarkennedy/puppet-consul/compare/feature/windows_support

Or does anyone have a fork that works that they can PR?

[2016-12-14 17:31] ferventcoder commented on #195
@solarkennedy that code looks mostly good to me. I'd only suggest as an enhancement to do similar to Puppet to find ProgramData.
Code in question - https://github.com/solarkennedy/puppet-consul/compare/feature/windows_support#diff-01eea9f59a7a7e8a90b87b99336e4cfbR5

Could do something like:
https://github.com/puppetlabs/puppet/blob/d00d0b7d34a211f59c5c58d0404e7b126681c2e8/install.rb#L258 and https

[2016-12-14 19:57] hopperd commented on #195
I know this code was used in production at my previous company for quite some time. Though it obviously hasn't been kept up2date and could probably use a little polish.

[2016-12-15 05:28] solarkennedy commented on #195
I will rubber stamp any Windows support PR. I don't personally run Windows so I'll have to lean on community support for real-world testing.

[2016-12-15 05:32] claflico commented on #195
We're just getting started with consul and I hacked some code to wrap around your Linux code to make it work on Windows so I should be able to provide some decent testing.

[2016-12-16 22:30] brahama opened #302 "EC2 Join Support"
Hi guys!

Do we have support for the -retry-join-ec2-* family options?

Cheers!

[2016-12-16 22:50] #302 closed

[2016-12-20 13:07] jamtur01 commented on #282
A lot of folks add a `consul leave` to the init script on shutdown to keep this clean....

[2016-12-20 13:46] amiryal commented on #282
@armon: I see that the behaviour for client-mode agents has changed in 0.7, and they are now shutting down gracefully by default – good!

Can you expand on why [leave_on_terminate](https://www.consul.io/docs/agent/options.html#leave_on_terminate) still defaults to `false` on server-mode agents?

Thanks,
Amir

[2016-12-21 02:30] armon commented on #282
It's mostly a safeguard to keep people from shooting themselves in the foot with respect to the consensus protocol. If you have servers leave when they terminate, they will remove themselves from the Raft consensus pool. Usually adding/removing servers is very rare, so we preferred to be conservative and avoid having automation accidentally cause a quorum loss or split brain.

[2016-12-21 09:16] amiryal commented on #282
Absolutely right! Thanks, I almost missed that. Going to revert my patch at https://github.com/solarkennedy/puppet-consul/pull/301/commits/bcb5e92e7dbd7f9d10500e062b7cf9f5c9b86397 with a different one, that allows customisation of `KillSignal=`, and defaults to `SIGTERM`.

[2016-12-29 10:36] deepakdalavi opened #305 "cant use latest consul version as parameter"
HI,

We cant specify latest consul version please guide how to specify within your manifest

[2016-12-29 15:56] solarkennedy commented on #305
Hashicorp does not provide system packages, so you can't specify `latest`.
The current latest is 0.7.2.

All input parameters to this module are specified in the docstrings of the manifest
https://github.com/solarkennedy/puppet-consul/blob/master/manifests/init.pp

[2016-12-29 15:56] #305 closed

[2017-01-01 23:56] jamtur01 opened #307 "Issues with default data-dir post-#292"
The #292 merge breaks the module if you don't use `/opt/consul` as the data directory.

[code]

My config hash:

[code]

[2017-01-02 03:45] solarkennedy commented on #307
Sorry about this, I guess I merged it prematurely.
I'll make a PR to do that last part and actually use data_dir as the root.

[2017-01-02 16:44] #307 closed

[2017-01-04 01:32] mrwulf opened #310 "Annoying "defined 'protocol' as 'http' " for every consul_acl resource"
Notice: /Stage[main]/Profiles::Consul/Consul_acl[Client API Token]/protocol: defined 'protocol' as 'http'
Notice: /Stage[main]/Profiles::Consul/Consul_acl[anonymous]/protocol: defined 'protocol' as 'http'
Notice: /Stage[main]/Profiles::Consul/Consul_acl[QA Admin]/protocol: defined 'protocol' as 'http'
Notice: Finished catalog run in 0.64 seconds

[2017-01-04 23:17] claflico opened #311 "Error: Cannot create /opt/consul/archives; parent directory /opt/consul does not exist"
I set my consul::config_hash::data_dir to '/var/lib/consul' in hiera so after upgrading to 2.0.0 I'm now getting the following error:

Error: Cannot create /opt/consul/archives; parent directory /opt/consul does not exist
Error: /Stage[main]/Consul::Install/File[/opt/consul/archives]/ensure: change from absent to directory failed: Cannot create /opt/consul/archives; parent directory /opt/consul do

[2017-01-05 02:48] solarkennedy commented on #311
Can you try master? I'm pretty sure I fixed this in #308.

[2017-01-09 22:26] mspaulding06 commented on #290
Hey, that actually sounds like a pretty good solution to me.  I'd be happy to submit a patch if you're serious about the solution.

[2017-01-10 06:08] solarkennedy commented on #290
Yea man, shipit.

[2017-01-10 06:11] #310 closed

[2017-01-12 19:36] shamil commented on #311
@solarkennedy I'm hitting this as well, when the new version (with #308)  will be released?

[2017-01-14 23:35] solarkennedy commented on #311
Released. Try 2.1.0.

[2017-01-14 23:35] #311 closed

[2017-01-18 15:47] wstiern commented on #283
Hi. Just throwing my lot in on this one. I don't have any code to contribute but will note this is blocking me from being able to tag certain services with their port numbers and isolate a DNS lookup to only those services, like:

[code]

Thus far my workaround is to pull the service-level SRV and filter on content since the ports are included in the answer section, but it would be nice to not hav

[2017-01-18 23:56] aj-jester commented on #283
@phyber @wstiern What happens when you try the following?

[code]

If you do the above does it still break consul on startup?

[2017-02-10 02:21] rroque80 opened #317 "Consul - Error: Invalid parameter temp_dir(:temp_dir)"
Hello,
    I am getting the below error message when trying to install the consul module (KyleAnderson-consul (v2.1.0) on a node:
"Error: Invalid parameter temp_dir(:temp_dir)"
"Error: /Stage[main]/Consul::Install/Archive[/opt/consul/archives/consul-0.7.0.zip]/ensure: change from absent to present failed: Invalid parameter temp_dir(:temp_dir)".

Both master and node is running puppet 4.8.0 and on

[2017-02-10 02:26] v6 commented on #317
// , I'm getting the same error, in Puppet 4.8. There is no `temp_dir` in the code, that I can see.

The closest thing I can find is the `archive_path` in `params.pp`.

@rroque80, may we see the output of `uname -a` on both the CEntOS 7 machines?

It looks like we're both including at least the variables in the class declaration in the node definition recommended by https://github.com/solarkennedy

[2017-02-10 02:31] v6 commented on #317
// , (and how can I tell?)

[2017-02-10 11:59] mmickan commented on #317
The error you're seeing is coming from the puppet/archive module (which this module uses).  Looks like the temp_dir parameter was added to puppet/archive in v1.2.0 - what version of that module are you using?  I can confirm that I'm not hitting this error, on CentOS 7, using puppet/archive v1.2.0.

[2017-02-10 21:45] v6 commented on #317
// , @mmickan, is this the module you refer to:

https://forge.puppet.com/puppet/archive

[2017-02-10 21:51] v6 commented on #317
// , I get the following in the output of `$ sudo puppet module list`:

[code]

[2017-02-10 23:50] rroque80 commented on #317
Output of uname -a:
- puppetmaster: Linux puppet 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
- node: Linux consul 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

The version of  puppet/archive is v1.2.0.

Thank you for pointing me towards the puppet/archive module.  I was able to get past that temp_dir issue by ha

[2017-02-11 01:55] v6 commented on #317
// , Is there any way around the `puppet-archive` dependency?

The `puppet-archive` module looks problematic for CEntOS 6:

https://github.com/voxpupuli/puppet-archive/commit/48df20b8c7ddf78744fbd38b20000806e9c2c195#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR6

CEntOS 6 ONLY has Ruby 1.8.7:
https://serverfault.com/questions/815398/r10k-on-centos-6-7-has-anyone-achieved-this-feat#comment1037158_815398

[2017-02-11 03:53] EvanKrall commented on #317
You can avoid the puppet-archive dependency if you use `install_method => package` or `install_method => none`.

It looks like the camptocamp version of archive takes different parameters than the voxpopuli version does (e.g. it takes `$url` instead of `$source`, doesn't take `$extract` or `$extract_path`, etc.), so it's unlikely to work as a drop-in replacement.

[2017-02-11 17:58] haloflightleader opened #320 "Curl return code 35 when fetching the consul binary."
Can you please help me? A puppet run is unable to fetch the consul binary.

[code]

[code]

[code]

[code]

[2017-02-13 16:37] v6 commented on #317
// , Looks like we have pretty slim pickings for premade CEntOS 6 RPMs for either Consul or Vault:

https://github.com/hashicorp/consul/issues/61

https://duckduckgo.com/?q=hashicorp+consul

https://github.com/hashicorp/vault/issues/589

https://duckduckgo.com/?q=hashicorp+vault+rpm

Given my recent experience within my current work environment, I entirely agree with @sethvargo that there are bett

[2017-02-13 16:41] v6 commented on #317
// , By the way, this little incompatibility implicitly drops support for Puppet 3.6 on CEntOS 6 servers, which `puppet-archive` does not support.

[2017-02-18 22:24] solarkennedy commented on #317
Sorry, we don't support ancient versions of ruby.

I recommend upgrading past puppet 3 as it is EOL
https://groups.google.com/forum/#!msg/puppet-users/IdutL5FTW7w/oLgkO9rbAAAJ

And newer versions of puppet come with their own ruby.

[2017-02-18 22:24] #317 closed

[2017-02-19 00:00] solarkennedy commented on #320
Works for me. Are you behind a firewall or some sort of SSL proxy?

Run curl yourself and see what it says
`curl https://releases.hashicorp.com/consul/0.7.4/consul_0.7.4_web_ui.zip -o /tmp/consul_web_ui-0.7.4.zip_20170211-15010-l9ga2f -v`

[2017-02-21 06:31] madAndroid commented on #311
We're still seeing this issue with `2.1.0` -
[code]
It doesn't look like any resources are creating this directory, as far as I can tell.

[2017-02-21 07:07] madAndroid commented on #311
This appears to be an ordering issue - we're seeing this happening in our integration testing for a few of our profile modules, but not all of them. When the catalog ordering is such that the file resource for the `data_dir` is not created before the archive is managed, we see this error - but not in all of our profile modules. I'll send a PR with some explicit ordering, once confirmed to be worki

[2017-02-21 09:30] madAndroid commented on #311
Please ignore the above, looks like we've not been setting `data_dir` in the profile, which was causing this

[2017-02-22 16:07] #211 closed

[2017-02-23 00:21] v6 commented on #317
// , Understood. I wouldn't support it if I was you, either.

@EvanKrall, it looks like your suggestion worked, by the way.

[2017-02-28 17:34] v6 opened #324 "// , What are the valid strings for init_style?"
// , I would assume that valid strings are the following:

    'openrc'
    'init'
    'systemd'
    'none'

But I don't see the options here. Perhaps they're elsewhere?

May I add these as options in a pull request to add to the comments here:

https://github.com/solarkennedy/puppet-consul/blob/0b9ad9e92992a94c9b5142af2318fd31a6e5bd0a/manifests/init.pp#L52

[2017-03-01 05:56] solarkennedy commented on #324
Sure, yes please.

[2017-03-03 19:02] haloflightleader commented on #320
Very strange. Must be on Vagrant.

1. Running it from my personal laptop at home, through Vagrant, I get return code 35.
2. Running it from my office laptop at work, through Vagrant, I get return code 35.
3. Running it from an EC2 instance in AWS, it works.

[2017-03-03 19:02] #320 closed

[2017-03-03 19:09] haloflightleader commented on #320
This was the solution: https://www.centos.org/forums/viewtopic.php?t=52732

[2017-03-15 02:21] HanSooloo opened #327 "Could not look up qualified variable '$::consul_version'"
Using r10k pattern to install a consul agent and seeing the above as a warning during install.  Wondering what I'm doing wrong, or whether this is safe to ignore.

Is there a hierarchy/namespace error in the way I call on the `::consul` class from within the role definition?

Relevant log snip:
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-03-15 03:35] solarkennedy commented on #327
It's "sorta" safe to ignore. You can't access the fact early if consul isn't installed yet.

You could use `getvar()` to lookup variables that may not exist:
https://forge.puppet.com/puppetlabs/stdlib#getvar

[2017-03-15 03:46] HanSooloo commented on #327
Thank you for the quick response!

Kind of like a "can't tell you the currently installed version before it is installed" situation then?

How could I incorporate the getvar call into my code?

[2017-03-15 03:49] solarkennedy commented on #327
Oh, this is in our code, not yours.
This is fixed
https://github.com/solarkennedy/puppet-consul/commit/7d614aea677f701cfe5913fda3c6036d29774680

Try using the latest version?

[2017-03-15 14:11] HanSooloo commented on #327
I am apparently using release 2.0.1 as pulled by the Puppetfile.  Wondering if there is some silly hierarchy/namespace issue (have to admin, new to the world of Puppet!)

[2017-03-15 14:43] solarkennedy commented on #327
It is good practice to pin the modules to ensure reproducible results. Please pin to `2.1.0`. (are you sure you are on `2.0.1`? I've never released such a version)

[2017-03-15 16:19] HanSooloo commented on #327
The plot thickens .... the TGZ listed here (https://forge.puppet.com/v3/files/KyleAnderson-consul-2.1.0.tar.gz) contains a `CHANGELOG.md` that references a `2.0.1` release: https://forge.puppet.com/KyleAnderson/consul

Probably a typo in the text file, but weird that the TGZ has it, but GitHub has no recollection of a `2.0.1` text literal in any commit.

![image](https://cloud.githubusercontent.co

[2017-03-16 01:46] solarkennedy commented on #327
Hmm. When I make the changelog files it is still "manual" (run the script) so it is easy for me to forget and update them later. Forget the changelog. If a release is tagged as 2.1.0, it *is* 2.1.0.

Anyway, I've released 2.1.1 (and I updated the changelog first) and now it has that f74 commit in it. Pin to 2.1.1 and that should be it.

[2017-03-16 12:47] HanSooloo commented on #327
Works perfectly without any warning messages with 2.1.1.  Thanks for the quick response 👍

[2017-03-16 12:47] #327 closed

[2017-03-29 10:24] warmfusion commented on #311
This isn't resolved.

There _is_ an ordering issue between the creation of /opt/consul and its use on the install path, but it appears to be caused by the 'archive' action;

[code]
Module Version: v2.1.1
Puppet 3.8.7
OS: Debian Jessie 8.6

[2017-03-31 14:14] mleklund opened #328 "please specify json module version minimum"
We are running puppetserver 1.2 and the json version that was installed was not new enough.  We were getting the following error:
`Error 400 on SERVER: undefined method Exception for JSON:Module at /etc/puppet/environments/consul_update/modules/consul/manifests/config.pp:114`

Please update the README with the minimum needed json version to save some poor soul the trouble of tracing through these

[2017-03-31 14:39] solarkennedy commented on #328
That is really surprising to me. I figured any json module would do.
The readme does reference that you need "some" json module, but I wasn't aware of any particular version requirements:
https://github.com/solarkennedy/puppet-consul#limitations

What version did you have that didn't work, and then what version did you install that did?

[2017-03-31 14:42] mleklund commented on #328
1.8.0 did not work, json-2.0.3 did, but there are many versions in between, so I am not sure which would fix it.

[2017-03-31 14:54] #328 closed

[2017-03-31 16:21] mleklund commented on #328
thanks for the quick update

[2017-04-07 00:33] mrwulf opened #331 "Consul 0.8.0 is out! and it breaks a few things..."
- `-rpc-addr` no longer supported from command line so init.d script can't check status
- dc seems to be always lowercase- which makes joining the wan never fire

[2017-04-07 15:52] induja0107 opened #332 "Execution of 'unzip -o /var/lib/consul/archives/consul-0.7.4.zip' returned 1:"
Many a times, i am facing this issue while consul is getting extracted through this module.

Raising this issue so I know if you are going to add return code 1 as acceptable return code for the Exec unzip consul. If there is an alternative solution i can use upright without needing any fix from your side, please let me know. I will go with either option. Many thanks!

More log info:

2017-04-06 10

[2017-04-08 01:33] solarkennedy commented on #332
Are you sure an error code of 1 is actually acceptable? Can you run `unzip -o /var/lib/consul/archives/consul-0.7.4.zip` yourself and paste the full output?

[2017-04-08 16:01] solarkennedy commented on #331
That is "OK", I can make a new major release (3) that is only compatible with 0.8. Let's put `BREAKING` in the title of any PR related to this so that it is obvious from the changelog.

[2017-04-10 21:18] induja0107 commented on #332
This is what i get when i try it manually. unzip:  cannot find or open /var/lib/consul/archives/consul-0.7.4, /var/lib/consul/archives/consul-0.7.4.zip or /var/lib/consul/archives/consul-0.7.4.ZIP.

[2017-04-11 02:16] solarkennedy commented on #332
It sounds like the unzip didn't work because the download failed? (or the zip got cleaned up after the puppet run)

Can you run puppet with --debug and paste as much output as you can?

[2017-04-11 17:08] induja0107 commented on #332
Hello, This is the complete log info

Apr 11 11:59:42 node1 puppet-agent[2304]: (/Stage[main]/Consul_ka/Exec[restart_rsyslogd_consul]) Triggered 'refresh' from 1 events
Apr 11 11:59:42 node1 puppet-agent[2304]: (/Stage[main]/Consul_ka/Exec[mkdir -p /opt/consul]/returns) executed successfully
Apr 11 11:59:42 node1 puppet-agent[2304]: (/Stage[main]/Consul::Install/File[/opt/consul]/owner) owner chan

[2017-04-11 17:09] induja0107 commented on #332
Hello, this is the complete log info.

Apr 11 11:59:42 node1 puppet-agent[2304]: (/Stage[main]/Consul_mod/Exec[restart_rsyslogd_consul]) Triggered 'refresh' from 1 events
Apr 11 11:59:42 node1 puppet-agent[2304]: (/Stage[main]/Consul_mod/Exec[mkdir -p /opt/consul]/returns) executed successfully
Apr 11 11:59:42 node1 puppet-agent[2304]: (/Stage[main]/Consul::Install/File[/opt/consul]/owner) owner c

[2017-04-12 02:09] solarkennedy commented on #332
` Could not execute posix command: No such file or directory - unzip` is your smoking gun. Install unzip.

[2017-04-12 17:35] induja0107 commented on #332
Thank you.

[2017-04-12 17:35] #332 closed

[2017-05-16 05:40] joshuaspence commented on #311
I am seeing this error on the latest release (3.0.0). I was able to work around it by setting `consul::archive_path` in Hiera.

[2017-05-16 14:41] solarkennedy commented on #311
Hmm.  Is there a commonality amongst these other bug reports? What is your data_dir and what is your install method?

[2017-05-18 09:13] nvtkaszpir opened #338 "Run configtest before reloading service"
Puppet should run config test prior restarting service:
[code]

Currently config_hash can get any key/value which can be not understood by consul, thus failing to start service.

[2017-05-18 12:48] jaxxstorm opened #339 "consul_version fact doesn't always work"
The module uses `Facter::Util::Resolution.exec` to determine the consul version. By default, this module stores consul in `/usr/local/bin`. Unfortunately, the `exec` method doesn't include that in the default `$PATH`, so the `consul_version` fact returns `nil`.

Now, you fix this by wrapping the execution with like so:
[code]

But that doesn't completely solve it. Has anyone else run into this? I

[2017-05-18 14:54] solarkennedy commented on #339
Yea it is related to #290, #313.

[2017-05-18 15:08] solarkennedy commented on #338
That would be cool. Now we could do that at the init script level because we control all of them:
https://github.com/solarkennedy/puppet-consul/tree/master/templates

I don't know if all init types are amenable to that though.

If we wanted to do it with a puppet exec, I think we would want to use something like this:
https://github.com/puppetlabs/puppetlabs-transition

To be able to run that exec

[2017-05-19 10:04] marcgascon opened #342 "Annoying "defined 'protocol' as 'http' " for every consul_key_value resource"
Same as #310 but for consul_key_value resource. Look at my puppet run:
[code]

[2017-05-26 15:50] btsibr commented on #283
Also happens for specifying ports in the addresses configuration option.
[code]

[2017-05-29 15:23] traylenator opened #343 "3.0.0 not tagged?"
Hi @solarkennedy

Puppetforge has version 3.0.0 but there is no tag 3.0.0 to (easily) identify what it is here.

Steve.

[2017-05-29 22:30] solarkennedy commented on #343
whoops, I made this release manually and didn't add --tags when I git pushed. It is there now.

[2017-05-29 22:30] #343 closed

[2017-05-30 12:51] traylenator commented on #343
Merci @solarkennedy

[2017-06-01 23:31] jarro2783 opened #344 "Consul reload fails without a cluster"
When our hosts can't connect to a cluster, the `consul reload` in `reload_service.pp` fails, which causes our whole puppet run to fail. I think this changed in 0.8.

I reported this in hashicorp/consul#3094, and apparently this is expected behaviour.

Would it be possible to implement the consul reload using the system's service commands instead? I don't consider consul being unavailable a reason

[2017-06-02 02:40] solarkennedy commented on #344
Not all init systems support reload. (upstart doesn't, etc)

But yea, this sounds like a difference in opinion. If puppet is configured to get consul up and running, but it can't, should it not provide that feedback in some way?

[2017-06-02 05:29] jarro2783 commented on #344
Depends on what you mean by `up and running`. I would define the consul program as running to be enough, regardless of whether it joined the cluster or not.

[2017-06-02 06:22] jarro2783 commented on #344
Actually something else that has just been causing us problems.

1. We are using the EC2 instance ID as the node address.
2. We build AMIs with packer, and build in a node id.
3. Our instances start, and are unable to join the cluster because of having a conflicting node id with some previous instance.
4. Puppet rewrites the node id, but can't restart consul because reload is forbidden when there

[2017-06-02 07:28] jarro2783 commented on #344
Actually ignore my previous, that's a different issue.

[2017-06-06 17:48] TysonAndre opened #346 "Switch from `%{linenumber}` to `%{line}` in v2 branch"
E.g. for a v2.1.2 release (Also, there's no v2 branch to create a PR against)

I'm using consul 0.7 and puppet-lint 2 in a project, and temporarily disabled this check.

`%{linenumber}` was deprecated in puppet-lint 1.0, and `%{line}` was supported since at least then.

[2017-06-07 05:10] solarkennedy commented on #346
Sorry, I'm not really interested in maintaining a v2 branch, especially if the above change is already in master.

[2017-06-07 05:13] #346 closed

[2017-06-16 07:32] jarro2783 opened #347 "Consul fails on first run"
It looks like the service dependencies are not strict enough, and reload is called unnecessarily when Puppet already started the service. Here is what I'm seeing in my Puppet run:
* Puppet starts `consul`
* Puppet adds a consul service file.
* Puppet tries to reload consul, which fails because it hasn't joined the cluster and is therefore unauthorised (same issue as #344).

Further runs don't rect

[2017-06-30 10:13] bodgit opened #349 "Clean out fixtures prior to uploading to forge"
I noticed that your Consul module ships with all of the module fixtures intact. This caused a minor problem for me as there are `.git` directories in the fixtures that cause submodule warnings when pushing/pulling this module from git via an r10k workflow, but it also means your module is shipping redundant/unused copies of the stdlib and archive modules so the download size of your module is bigg

[2017-06-30 14:21] solarkennedy commented on #349
Huh. I use https://github.com/voxpupuli/puppet-blacksmith, I figured it would be doing the right thing.

I'll be extra careful on the next release and double check.

[2017-07-06 12:23] benpollardcts opened #350 "Support for cloud -join switches"
Are you planning on adding functionality for the aws/gcp/azure bootstrapping switches?

[2017-07-06 14:19] #350 closed

[2017-07-07 05:58] krjensen commented on #195
Any change that this will picked up again, so we could use windows?

[2017-07-15 22:42] jfgibbins opened #353 "uid/gid"
Please add to choose uid/gid.  Currently defaults to 999, which is used by several things as default, not least of which is puppet.

[2017-07-15 22:44] jfgibbins opened #354 "changes to systemd template"
I added the following to the systemd template:

ExecStop=<%= scope.lookupvar('consul::bin_dir') %>/consul leave

This allows on service or system shutdown to cleanly leave the cluster.  Probably similar needed on other startup templates as well.

[2017-07-17 14:54] solarkennedy commented on #353
It doesn't really default to anything, it just uses the first available uid that useradd gives it, but I agree that can conflict if consul is installed first, take 999, and then something else comes along and is pinned to 999.

I would accept a PR, but also I recommend setting your SYS_UID_MIN-SYS_UID_MAX ranges on your system to be outside the range of hand pinned UIDs in puppet to ensure this do

[2017-07-17 14:55] solarkennedy commented on #354
Please make a PR if you think the rest of the community would benefit.

[2017-07-17 15:49] jfgibbins commented on #353
I'll look up how to do a PR and stuff, and give it a shot.  :) I usually like to pin my services, so that they can be added into ldap, and consistent across containers, as well as viewable as a named process on the host, rather than just the number.  And nice job on your project.  Most things I come across on the forge, usually get used for testing and playing only, and then have to be completely

[2017-07-17 15:53] jfgibbins commented on #354
I will attempt it, though I'm really only familiar with ubuntu/debian.

[2017-07-31 21:18] cgetzen opened #356 "How do you ensure unzip is installed?"
When puppet-consul is in a Puppetfile, the follow error occurs:
`Error: Execution of 'unzip -o /opt/consul/archives/consul-0.7.5.zip' returned 1`

`Error: /Stage[main]/Consul::Install/Archive[/opt/consul/archives/consul-0.7.5.zip]/creates: change from archive not extracted to extracting in /opt/consul/archives/consul-0.7.5 to create /opt/consul/archives/consul-0.7.5/consul failed: Execution of 'un

[2017-08-01 02:16] solarkennedy commented on #356
I recommend using the "ensure_packages" function to install unzip using puppet:
[code]
This requires the puppet stdlib:
https://github.com/puppetlabs/puppetlabs-stdlib#ensure_packages

This module uses the puppet-archive module to download zips and it is the users responsibility to install the needed utilities:
https://github.com/voxpupuli/puppet-archive#setup

[2017-08-01 16:38] cgetzen commented on #356
Thank you for your reply!
I have ensure_packages, but I think it is being loaded after librarian-puppet runs. My structure looks like this:
[code]

Puppetfile:
[code]

So if I run puppet twice, it will work, because my-base is being run second. Is there a way to show a dependency between these modules?

[2017-08-02 14:41] solarkennedy commented on #356
Package['unzip'] -> Class['consul']

You can read more about this in the docs for puppet ordering dependencies:
https://docs.puppet.com/puppet/5.0/lang_relationships.html

[2017-08-05 02:50] Justin-DynamicD commented on #356
why isn't this simply part of the module?  It's essentially a dependency and the module fails without it.

[2017-08-05 16:02] solarkennedy commented on #356
It is presumptuous to automatically install a dependency in puppet; it is easy to conflict with an existing definition of `Package['unzip']. Also not everyone installs consul from zips (I use a system package).

There is no "official" unzip puppet module to depend on, so we make it an optional dependency and leave it up to to user to install it as they see fit.

Keep in mind we are just using
http

[2017-08-05 16:02] #356 closed

[2017-08-06 02:18] Justin-DynamicD commented on #356
Thank you for clarifying the fault lies with puppet-archive, I will open an issue.

However I fundamentally disagree that expecting a module to work with a simple include is presumptuous.  That should just be the baseline of a good module, especially as we can use ensure_packages as mentioned earlier and avoid conflicts.

Bottom line is the default settings require a url pull and the use of unzip,

[2017-08-10 11:50] shamil commented on #354
I don't see the reason on doing it in `systemd`. Consul supports this ability out of the box. Read about it in consul configuration guide `https://www.consul.io/docs/agent/options.html#leave_on_terminate`

[2017-08-11 01:55] solarkennedy commented on #354
Thanks @shamil. I'm going to stick with that as a recommendation.

[2017-08-11 01:55] #354 closed

[2017-08-14 07:35] khdevel opened #358 "cannot update to consul 0.9.0 because of a 'web_ui.zip' package"
The module wants to install a *web_ui* package
[code]
which, since v0.9.0, is not availabe in Hashi's repository.
Please perform the fix in this line (as I assume) [install.pp#L56](https://github.com/solarkennedy/puppet-consul/blob/master/manifests/install.pp#L56)

I could not find any place to make it possible to NOT install the *web_ui* package. Removed *ui_id* did not help in this case. After t

[2017-08-14 08:58] khdevel commented on #358
I used a *ui => true* in my puppet's configuration and removed *ui_dir => ...* section an problem is partly solved. But I think that there should be some notification or part in the code which will not download a *web_ui.zip* package from Hashi's repository.

[2017-08-22 05:58] houtmanj opened #359 "Additions to consul_key_value"
Hi,

We have developed our own consul_key_value and would like to get the differences upstream.
Would you be willing to accept them?

Key changes:
- Allows for the specification of the DC for a key/value.
- Does not cache the whole key-value store. But only the prefixes of the keys requested.
   Assuming:
   - That you are likely to modify some keys in the same directory
   - Caching the whole key

[2017-08-24 13:55] lesinigo opened #360 "default config_dir broken on FreeBSD"
On FreeBSD the file `templates/consul.freebsd.erb` hardcodes the config directory as `/usr/local/etc/consul.d`, but then `manifests/params.pp` still has `/etc/consul` as default and the module ends up writing the configuration there.

`params.pp` should be modified to use `/usr/local/etc/consul.d` as default on FreeBSD systems, which is the preferred and correct path on that operating system.

Als

[2017-08-25 14:38] solarkennedy commented on #359
* dc: yes
* do we cache currently?
* purge: I thought this came for free with any provider that could list all resources? How does it keep state between runs?

[2017-08-28 11:20] lesinigo commented on #359
@solarkennedy @houtmanj usually provider that can list all resources can purge them too, without the need to keep state between runs.

IMHO something similar for consul k/v would be good to have, and it should not rely on state saved between puppet runs, as long as it could work for children of a specific key (eg. "purge foo/bar/baz and all its children"), more or less like the File resource can d

[2017-08-29 12:50] houtmanj commented on #359
- DC: kewl

- Cache:
you do, see `list_resources` in https://github.com/solarkennedy/puppet-consul/blob/master/lib/puppet/provider/consul_key_value/default.rb
I was afraid of the performance penalty for recursing the whole key-value store.
But I just realized that the proper use of ACL's will fix that issue.

- Purge:
You are both right, a provider that can list all resources could purge unmanaged

[2017-09-01 05:16] joshuaspence commented on #311
I think I've managed to narrow it down. It seems to occur when `$consul::config_defaults['data_dir']` is set (in our case it is set to `/var/lib/consul`), but `$consul::config_hash` is left as `{}`.

[2017-09-05 07:42] leeuwenrjj opened #363 "Consul k/v does not update to new value"
It looks like the k/v resource will not update to a new value if you set that.
Changing to absent first and then re-apply-ing does.

[2017-09-05 14:18] solarkennedy commented on #363
Can you paste a puppet run --debug output for the first and seconds times?

[2017-09-05 16:11] pjfbashton commented on #363
the same here
- first run - keys get created:

[code]
- update key:

[code]
- subsequent runs do not update key

[code]

- puppet code:

[code]

[2017-09-07 14:15] solarkennedy commented on #358
Hmm. With no ui package I guess we should get rid of it for >=0.9 entirely?

Do whatever you've got to do to get things working for you, then please evaluate if you can PR the change for everyone.

[2017-09-07 14:20] solarkennedy commented on #363
Thank you for the comprehensive output!

At least puppet "knows" that `wrong_key` is in there in the prefetch. That is a good sign it is "just" in our code. Not sure why yet...

[2017-09-10 08:18] houtmanj commented on #363
I tested with the changes in: https://github.com/solarkennedy/puppet-consul/pull/365  and that seems to work properly.

I setup up the consul in a docker container, so i used the following code.
`consul_key_value { 'test/key0':
  ensure => 'present',
  value  => 'myvaluestring0',
}
consul_key_value { 'test/key1':
  ensure => 'present',
  value  => 'myvaluestring1',
}
consul_key_value { 'test/key2'

[2017-09-29 13:29] houtmanj opened #367 "hiera backend"
I plan to build a hiera 5  backend for consul.

Since custom hiera backend are implemented as puppet functions, it would make a nice addition to the module.  I plan to use: https://docs.puppet.com/puppet/5.2/hiera_custom_lookup_key.html

There are two lookup scenario's I want to implement.

### Scenario 1
---

A path like:
  - `/prefix/common`
  - `/prefix/nodes/%{::fqdn}`

Will work much the same

[2017-09-29 14:42] solarkennedy commented on #367
Wow this would be fancy. Would such a backend be able to actually reuse any of the code available in this repo? If not then I recommend making a different hiera-consul module specifically for this.

[2017-09-29 15:01] houtmanj commented on #367
I plan to reuse that code if I can extract a function that can be used in both implementations.

I also thought about the a different module, but I would argue that it would go really well together with this module.  It also improves the changes of the code being maintained and people trusting the code if its part of an active project.

[2017-10-03 01:52] solarkennedy commented on #367
Ok, sounds good to me (on code reuse).

[2017-10-03 14:40] #363 closed

[2017-10-05 16:44] Justin-DynamicD opened #368 "Idea for approval/rejection: install-only mode"
As I continue down my consul journey I find that I'm starting to run into a need where I need the consul module to _only_ handle the installation (download binary and setup service), not configuration (don't commit or manage any config files).  This is due to a possibility of moving encryption and token settings to vault (as opposed to eyaml) and letting consul-template fetch and handle config as

[2017-10-06 04:07] solarkennedy commented on #368
Sure, sounds good to me. If possible re-use the install class as much as possible.

[2017-10-09 04:08] Justin-DynamicD commented on #368
Install class will still happen, I'm debating just adding to your "manage" parameters with "manage_config".  Seems like the natural place to add a simple true/false.  It would necessarily override the purge_config_dir setting, other than that should be a pretty simple injection.  I _could_ leave that user configurable, but I'm not sure the headache would be worth it (someone accidentally leaving b

[2017-10-19 14:23] devcfgc commented on #358
@khdevel Did you manage to fix it? perhaps the ui package has been include somewhere else since 0.9.0.. .

[2017-10-20 23:18] vchan2002 opened #373 "what ACL rights required for consul_acl part to run?"
So, i'm making steps to secure my consul setup with ACLs... and the most recent change is that I have changed the default policy to deny, via the following snippet.

"acl_default_policy":"deny","acl_down_policy":"extend-cache".

The anon token is given the following rights... mostly some kv stuff and that's it....

{"key":{"configurationdata":{"policy":"deny"},"endpoints":{"policy":"read"}},"event

[2017-10-21 15:24] Justin-DynamicD commented on #373
So this isn't really a module issue, but to be clear, if you are enabling ACLs you shouldn't be using anonymous, as you are just letting any random system make said updates.

Otherwise, you probably don't need configurationdata:deny, as your Default acl handles that.  Honestly i don't see a major issue?

[2017-10-21 17:41] vchan2002 commented on #373
Here's the thing though... looking at the code of the function, it appears that it is passing the master token, which i am specifying when I am writing out the puppet to have it do ACLs, so I'm wondering whether there might be places where it is not....

As for some of the existing rules... yes, I do need to change them.... I was originally designed as a blacklist so that I can transition from the

[2017-10-22 17:17] vchan2002 commented on #373
So, it seems that, on the consul config, aside from have acl_master_token, I also need to have acl_token parameter set.... I bet that is the token that it somehow uses...... as it started working again after...

[2017-10-22 17:17] #373 closed

[2017-10-23 19:33] dannytrigo opened #374 "Changing Consul kv values doesn't seem to have an effect"
I have tried to test manually changing a kv value after it has been set by the puppet-consul module but it never seems to be changed back by Puppet.
I have added debug code and as far as I can tell, the new value is retrieved from Consul, but then it seems that the flush method is not being called by Puppet, even though the value is different.
Have others had more success with this?

[2017-10-24 02:56] solarkennedy commented on #374
It sounds like #363, can you try on master?

[2017-10-25 15:52] dannytrigo commented on #374
I tried on master and although better (flush now gets called even though I couldn't figure out why it wasn't before), it still seems to have problems.
Firstly, when the key exists already, it seems `@property_flush[:ensure]` is not set (since its ensure parameter is not changing, so I got:
[code]
So I removed that condition check.  Then I discovered that the value still isn't changed because it se

[2017-10-25 22:52] joshuaspence opened #376 "Validate command for config files doesn't work"
With Consul 1.0, the change from #372 doesn't seem to work because the temporary config file doesn't end with `.json`.

[code]

[2017-10-30 12:38] dannytrigo commented on #374
@solarkennedy - any opinions on that? Should I open a PR?

[2017-10-30 14:38] solarkennedy commented on #374
Yes please. I'll ask @houtmanj to review it (the provider was significantly refactored recently).

[2017-10-31 09:29] houtmanj commented on #374
@dannytrigo @solarkennedy I prefer we find out why the underlying assumptions do not behave properly.
According to the docs the create/delete methods should allways be called, same as the flush method.
It will very likely also have effect on the major refactoring still pending review and the other providers.

I currently only have access to a browser and cannot debug the issue any further untill t

[2017-11-02 13:46] dannytrigo commented on #374
Are create/delete always called even if the resource does not need creating, only altering?

I'm using puppet 3.8.7 which is very old and may explain the difference in behaviour.  Can you point me to the docs because I've had a lot of trouble locating good documentation on writing provider plugins.

[2017-11-03 16:11] houtmanj commented on #374
Here are some of the resources I found:
- https://puppet.com/docs/puppet/4.10/complete_resource_example.html
- http://garylarizza.com/blog/2013/12/15/seriously-what-is-this-provider-doing/

Turns out I was wrong, the flush method indeed only gets called when there is a change.
That simplifies matters a great deal.

[2017-11-05 18:47] dannytrigo commented on #374
Thanks for the analysis/input. I’ll update the pr according to your feedback. Not sure if other resources need to be modified in a similar way

[2017-11-09 14:24] boweeb commented on #358
My understanding is that the ui package doesn't exist anymore (>=`0.9.0`) because it's now integrated with consul itself.  To verify, I deployed consul normally without any `ui_*` settings then manually changed the systemd service file to add the `-ui` flag and the ui worked out of the box without installing anything extra.

[2017-11-09 15:14] boweeb commented on #358
So a reasonable way to deploy the UI is to just add `-ui` to `extra_options` and not set any `ui_*`.  Perhaps the PR should be more around user experience / documentation.

[2017-11-14 06:02] joshuaspence commented on #376
It looks like Consul version 1.0.1 addresses this problem, see hashicorp/consul#3620.

[2017-11-14 10:36] khdevel commented on #376
It is almost fixed... the only thing is missing is that the symbolic link still exist so puppet has problem during some second _config.json_ update
[code]
Please add some "rm like" command and I think it will be done here.

[2017-11-14 15:17] solarkennedy commented on #376
I just merged in a PR that does `ln -sf`

[2017-11-16 15:19] #376 closed

[2017-11-16 19:26] joshuaspence commented on #376
The symbolic link approach feels so dirty... Why not just use `-config-format=json`?

[2017-11-19 16:31] maxadamo opened #383 "Config validation failed"
I am using consul 1.0.0 and it seems that the validation can be run only against a file having an extension like `.json` or `.hcl`.
Hence the the temporary file with random extensione fails as following:
`
Error: Execution of '/usr/local/bin/consul validate /etc/consul/config.json20171119-63488-5w5k49 > /dev/null' returned 1: Config validation failed: Missing or invalid file extension for "/etc/co

[2017-11-20 15:40] solarkennedy commented on #383
I've removed this validation. Please upgrade to 3.2.0

[2017-11-20 15:40] #383 closed

[2017-11-20 15:40] solarkennedy commented on #374
3.2.0 is released. Can you try it out and see if this issue is 100% resolved?

[2017-11-20 15:41] #331 closed

[2017-11-21 11:23] madelaney opened #384 "Allow for different consul and consul-ui versions."
With version 0.9+ of consul, there is no analog UI package. The last UI package was 0.8.5. This means that if I try to use consul 1.0.0 (which was original intent), I cannot also setup the UI.

[2017-11-22 13:55] madelaney opened #385 "Add hiera wrapper for ACL entries."
Akin to the how we can create `checks` via hiera. I'd like to be able to create ACL entries via the same behavior.

[2017-11-23 03:04] solarkennedy commented on #385
We already have this:
https://github.com/solarkennedy/puppet-consul/blob/0e51c7995631e9e5aeb91d27c955f0836f006d61/manifests/init.pp#L7

[2017-11-23 03:06] #360 closed

[2017-11-23 17:02] madelaney commented on #385
My bad, I apologize for missing that. Sorry for the spam.

[2017-11-23 17:02] #385 closed

[2017-11-30 13:51] sts commented on #283
@solarkennedy Please get this merged, as [we are about to base the puppet consul-template](
https://github.com/claranet/puppet-consul_template/issues/100) upon `consul_sorted_json.rb`. consul-template has a `perms` configuration setting, which configures filesystem permissions eg. in the form: `0644`. `0644` is not a valid integer, but consul_sorted_json.rb still formats it as one.

[2017-11-30 14:27] sts opened #389 "consul_sorted_json for octal notation of file modes"
We are about to [base the puppet consul-template module](
https://github.com/claranet/puppet-consul_template/issues/100) upon consul_sorted_json.rb.

Now consul-template has a `template.perms` configuration setting, which configures filesystem permissions in ocatal notation eg. `0644` which is not a valid integer.

The string match in [consul_sorted_json.rb#85](https://github.com/solarkennedy/pupp

[2017-12-04 14:30] phaer commented on #389
PR for this issue https://github.com/solarkennedy/puppet-consul/pull/391

[2017-12-05 15:38] #389 closed

[2017-12-05 16:11] solarkennedy commented on #349
I've cleaned this up and the most recent release does not have these.

[2017-12-05 16:11] #349 closed

[2017-12-06 09:11] madAndroid opened #394 "Latest version doesn't work with Puppet 3.x (breaking change?)"
Hi,

We're currently moving to Puppet 5.x, and have most of our modules compatible already, but during the transition period we need to be able to support Puppet 3.x as well; recent changes to this module implemented the typing system, and we're seeing failures in Puppet 3.x as a result (even with the future parser enabled).

The particular failure is:
[code]

I would expect a change of this natur

[2017-12-06 09:22] madAndroid commented on #394
I've just noticed the version requirements listed on the forge show `Puppet >= 4.7.1 < 6.0.0`
We were able to use 3.x of the module until the typing additions... I'm not sure this would be regarded as a breaking change, but it feels like it possibly should have been.

[2017-12-06 15:31] solarkennedy commented on #394
Yes, please pin the module to a version you need.
The breaking change was https://github.com/solarkennedy/puppet-consul/pull/381

Sorry, I should have made another major release to indicate this.
https://github.com/solarkennedy/puppet-consul/blob/master/CHANGELOG.md#v322-2017-12-05

Please pin to 3.2.0.

[2017-12-07 08:59] madAndroid commented on #394
Okay, no problem - we'll pin to that version you've suggested.

[2017-12-07 08:59] #394 closed

[2017-12-11 21:14] dannytrigo commented on #374
Resolved for me

[2017-12-11 21:14] #374 closed

[2017-12-17 18:52] den-is opened #395 "[critical] consul::check script argument is deprecated"
https://www.consul.io/docs/agent/checks.html#check-scripts
https://github.com/hashicorp/consul/blob/master/CHANGELOG.md#100-october-16-2017

Currently my whole infrastructure is broken because of that:
[code]

I'm confused:
1. or I can't find open/closed issue regarding this in this repo
2. or I can't find existing fix/workaround for this issue in this module (documentation/code)
3. or finally I'm

[2017-12-18 01:22] solarkennedy commented on #395
This is the only related PR: https://github.com/solarkennedy/puppet-consul/pull/382

I'm kinda confused as well, it doesn't look like `Consul::Check` ever had args. Is the 500 error from puppet you pasted an attempt to try to use `args` with this module?

It may be deprecated, but not yet an invalid option to use `script`. You are probably the first person to try to use `args` with this module.

[2017-12-18 10:44] den-is commented on #395
sorry for confusion:
yes I know that your module doesn't has or ever had `args` arument for `consul::check` - I've included this error output as example of desired behavior.

I can't see where in docs is being said that `script` is valid option.

I'm using a lot of such simple checks:
[code]
all of them have failed.

Such config in service/check definition fixes issue:
[code]
------------------
Al

[2017-12-20 01:14] vchan2002 opened #396 "Support for Amazon 2 OS"
should be a fairly trivial change as the OS will be using systemd.... I'll try to put in a PR in the near future.

https://aws.amazon.com/about-aws/whats-new/2017/12/introducing-amazon-linux-2/

[2017-12-20 20:45] bp85 commented on #384
can some one address this issue

[2017-12-21 15:51] #396 closed

[2018-01-05 17:45] dekimsey opened #399 "Consul should not own its config directory"
https://github.com/solarkennedy/puppet-consul/blob/a8ecd9620591660290bb66ffb4ff331be12f0b5f/manifests/config.pp#L95

Typically services don't own their own config directories. I believe the consul config directory should not be owned by Consul as that makes it writable by the consul service. I think it should be root:consul and 750 by default.

The data directory might also fit into this, it's def

[2018-01-16 11:09] rawleto commented on #384
@madelaney @bp85 using #398 you can install the latest Consul after removing ui_* parameters if any and adding a 'ui => true' option to the config_hash (please follow a link to the details: https://github.com/solarkennedy/puppet-consul#web-ui).

[2018-01-16 11:13] rawleto commented on #246
@berlincount with #398 you can try to install RPMed Consul adding 'ui => true' and 'ui_dir => some_dir' options to the config_hash (please follow a link to the details: https://github.com/solarkennedy/puppet-consul#web-ui).

[2018-01-16 11:14] rawleto commented on #358
@khdevel please check #398 out with ui options in the config_hash (see https://github.com/solarkennedy/puppet-consul#web-ui).

[2018-01-16 15:53] berlincount commented on #246
Ah well, I've moved on from Puppet ...

[2018-01-17 22:02] lesinigo opened #402 "module errors on posix systems without unzip"
On a fresh linux installation without unzip, trying to use the module as described errors when trying to unpack consul:
[code]

This is documented in the `puppet/archive` module: https://forge.puppet.com/puppet/archive/2.0.0/readme#setup

Please consider installing `unzip` on posix system, e.g. with
[code]

[2018-01-18 03:14] solarkennedy commented on #402
Related to #356.

See also #187 and #185.

[2018-01-18 03:14] #402 closed

[2018-01-19 23:15] lesinigo commented on #399
Same applies to the configuration file, if the config directory shouldn't be world-readable nor consul-writable then `config.json` shouldn't be either.

[2018-01-30 15:49] solarkennedy commented on #338
We tried this, and it didn't work so great.

[2018-01-30 15:49] #338 closed

[2018-01-30 15:49] solarkennedy commented on #195
Beta support is now released.

[2018-01-30 15:49] #195 closed

[2018-01-30 15:50] solarkennedy commented on #282
@bflad do you know the 2 PRs there linked if this is still an issue?

[2018-01-30 15:51] #384 closed

[2018-01-30 15:53] solarkennedy commented on #353
I'm going to close this for now. If you need more control over group/user in this module, DIY and set `manage_group => false` and `manage_user => false` so you can have total control (over the uid or any other parameter).

[2018-01-30 15:53] #353 closed

[2018-01-30 15:55] solarkennedy commented on #290
@mspaulding06 is this good to close?

[2018-01-30 16:37] #290 closed

[2018-01-30 22:49] bflad commented on #282
Hi @solarkennedy, I'm in a new role and not using this project anymore so I cannot easily verify myself. I'm okay with this getting closed if you are. 😄

[2018-01-31 15:28] solarkennedy commented on #395
Also related to #400 and #404.

We're getting there.

[2018-01-31 15:28] #282 closed

[2018-01-31 17:32] den-is commented on #395
if anyone still wants this working right now and right here.
don't use consul::check at all.
make check definition on your own as hash (hiera, manifest or whatever)
and do:
[code]
this is much cleaner then depending on third party module, especially if it has 100 arguments to compose simple json file.
left _third-party_ module for consul installs and upgrades.

sorry. no offense.

[2018-02-07 08:48] jardleex opened #407 "Add Consul's autocompletion for shell"
Hi,

I just stumbled over the fact that [Consul supports autocompletion](https://www.consul.io/docs/commands/index.html#autocompletion).
It would be nice if this module would support that.

Issuing the command documented with a Puppet exec ain't worked for us as it seem to require a interactive shell. To bypass this we solved it this way:

[code]

As we're still running with Puppet 3 I can't test

[2018-02-07 09:22] lesinigo commented on #407
IMHO it would be better to drop a `file { '/etc/bash_completion.d/consul': }` rather than mess with root's `.bashrc`

[2018-02-07 14:39] solarkennedy commented on #407
Sounds good. I think it needs to be carefully deployed to linux-only installs first. (maybe someone from osx / windows platforms could say what the correct path is there. I think the "install" class is as good as any of a place to put this.

[2018-02-16 09:13] jameseck commented on #311
I've just come across the same issue.
I'm setting the config_defaults hash in the common hiera hierarchy for all agents and then setting config_hash to server specific options in my consul servers role hierarchy.
For most of my servers, they are only using config from config_defaults, config_hash is empty.

I believe this is due to the code:
manifests/install.pp:39:      $install_prefix = pick($co

[2018-03-14 12:38] asmajlovic commented on #291
@djtaylor Late to the show, I know, but I have seen this as well and figured I'd save others some hassle.  The issue is with `puppet-stdlib`, specifically the `is_a` function.  The function in question is fully supported in Puppet >= 4 and Puppet 3 only when `parser=future` is set for the environment (as per the relevant README):

### **is_a**

[code]

Since type validation in `puppet-consul` (`li

[2018-03-14 14:07] solarkennedy commented on #291
Please please upgrade. 3.8 was EOL'd Dec 2016. This module does not support EOD'd versions of puppet (only whatever is in the travis.yml matrix is supported)

[2018-03-14 15:31] jaxxstorm commented on #291
Closing this, Puppet 3.8.7 is EOL and this is no longer an issue for me

[2018-03-14 19:05] asmajlovic opened #410 "Annoying "defined 'protocol' as 'http'" for every consul_prepared_query resource"
In line with #310 and #342, the prepared query provider/type appears to suffer from the same issue:

[code]

[2018-03-27 08:35] jardleex commented on #410
Hi,

seems we stumbled over the same issue.
We want to deploy a catch-all template of a prepared query with Puppet while omitting the name in order to ease the ACL setup. If no `name` key is given, the name given to the define is used. If we set `name => '',` we see the issue described above. Setting `protocol => 'http',` when calling `consul_prepared_query` ain't changed the behavior.

[2018-04-04 02:11] jarro2783 opened #411 "Support `RemoveEmptyTags` prepared query template parameter"
The `RemoveEmptyTags` parameter for prepared query templates is not supported. I would like to be able to set this to `true`.

[2018-04-04 16:03] aroca commented on #216
Hey guys! how can i implement this. i need to change this according to the env.

[2018-04-04 17:37] aroca opened #413 "ACLs Managed vs Unmanaged"
Hi guys,

I am unable to apply rules on a system that already has some manually added ACLs.

So that makes be wonder, it is a MUST to handle all ACLs with puppet? No Manually unmanaged ACLs should be used?

Thanks!

[2018-04-05 13:51] solarkennedy commented on #413
Currently yes.

[2018-04-05 14:34] aroca commented on #413
Perfect! Thanks for the clarification!  You may close this or if you want just leave it as an enhancement request. Perhaps one day. As you wish!

Thanks again. Cheers

[2018-05-01 01:36] jarro2783 opened #415 "Consul types should autorequire Service['consul']"
I think it would make sense for all of the custom types to `autorequire` `Service['consul']`, because there is not much point trying to create any of those resources if Consul is not running.

[2018-05-18 21:08] nealmcq opened #420 "Consul 1.1.0 uses a new key for enableTagOverride"
from Hashicorps docs:

[2018-05-18 21:39] shamil commented on #420
This is already fixed in #413

[2018-05-18 22:09] nealmcq commented on #420
Oh I see. Didn’t see an open issue. Will a release be cut soon that incorporates that fix?

[2018-06-01 20:35] dekimsey opened #421 "[req] Support setting CONSUL_UI_BETA in an systemd EnvironmentFile instead"
Currently, the module modifies the systemd daemon to enable/disable flags. I'd like to see support instead for an `EnvironmentFile=` directive. That'd make the changes compatible with rpm-based installations like [tomhillable/consul-rpm](https://github.com/tomhillable/consul-rpm).

This would entail moving configs like CONSUL_UI_BETA to /etc/sysconfig/consul instead. As well as updating the system

[2018-06-06 08:15] miechoo opened #422 "Configuration parameter PORTS - Failed to call refresh: consul reload -http-addr=127.0.0.1:-1 returned 1 instead of one of [0]"
I am using SSL and only SSL in
`
$consul_hash =>{
  (...)
  ports => {
    https => 8501,
  }
}
`

The code in init.pp
`
  if ($config_hash_real['ports'] and $config_hash_real['ports']['http']) {
    $http_port = $config_hash_real['ports']['http']
  } else {
    $http_port = 8500
  }
`

runs consul on both SSL(8500) and non-SSL ports(8501).

I tried to ensure that http is disabled by forcing -1 to

[2018-06-23 09:12] bastelfreak commented on #420
I'm going to close this issue since it's fixed in master. I will try to get a new release out soon.

[2018-06-23 09:12] #420 closed

[2018-06-28 13:38] Viktorker opened #426 "Performance Raft Multiplier"
Hello everyone on the team,
I am looking to specify the performance of consul server "raft_multiplier" into the config_hash but when I try to build i have failures that this parameter is missing.
Can we somehow import this parameter inside the module?
Many Thanks.

[2018-07-03 18:43] lesinigo opened #428 "Release version 3.3.1"
Please release the new version on the forge with all the new goodness 👍

[2018-07-05 14:36] bastelfreak commented on #421
Hi @dekimsey, thanks for bringing up this issue. `/etc/sysconfig/` is the default path for configs on centos, but not for other operating systems, so we would need to figure out where to store the configs on debian/arch/ubuntu. Also that may makes it compatible with the linked rpm repo, but that one isn't official. How should we deal with those changes if there is another rpm repo that uses a diff

[2018-07-05 16:07] bastelfreak commented on #426
Hi @Viktorker, I just added a simple test in https://github.com/solarkennedy/puppet-consul/pull/429/files#diff-850a454de8fd7d1fcd446fb2116ebc94R93, which works. How did you call the module and which error message did you get?

[2018-07-05 18:20] #426 closed

[2018-07-05 22:22] bastelfreak commented on #428
@lesinigo a new release is on the way. We prepared it in https://github.com/solarkennedy/puppet-consul/pull/430

[2018-07-05 22:22] #428 closed

[2018-07-11 10:43] Viktorker opened #431 "Telemetry"
Hello Team,
Thank you very much for the last time.
I am trying to involve into the module the telemetry of consul but I am having some issues that the telemetry is not a parameter.
My config is:
     telemetry => {
      'statsd_address' => 'localhost:9125',
      'prefix_filter' => [
        '+consul.client.rpc',
        '+consul.client.rpc.exceeded',
        '+consul.acl.cache_hit',
        '+co

[2018-07-11 10:55] Viktorker commented on #431
Wrong configuration from my side! Gratz everyone for their help!

[2018-07-11 10:55] #431 closed

[2018-07-11 10:57] bastelfreak commented on #431
Hi @Viktorker, glad that you figured it out! Could you update our README.md with an example that works for you?

[2018-07-16 16:09] jayabalan1992 opened #433 "Consul version upgrade to 1.2.0"
I am using consul as storage backend for vault. By using this module, can I specify new version of consul 1.2.0 instead of 0.7.4 ? Looks like it works fine with the new version as well. Any reason for not upgrading ?

[2018-07-16 20:53] solarkennedy commented on #433
Well, like any piece of software, there is a risk of things not breaking.
Here are some docs:
https://www.consul.io/docs/upgrading.html

[2018-07-19 04:41] khdevel commented on #410
I have prepared some fix for it and I hope it will be implemented in the newest version of this module... it works fine on my Consul's cluster.

[2018-07-26 18:52] sc0rp10 opened #435 "Support for service/node "meta" parameters"
Docs:
https://www.consul.io/docs/agent/services.html
https://www.consul.io/docs/agent/options.html#_node_meta

Error message:
[code]

[2018-07-29 12:17] bastelfreak commented on #435
Hi @sc0rp10, this is currently not implemented. Are you interested in providing a patch for this?

[2018-07-29 12:21] sc0rp10 commented on #435
hi, @bastelfreak
Yes, I can try to PR this, but i'm not familiar with puppet tests and can't spent to much time to it.
May you approve PR without tests?

[2018-07-29 12:22] bastelfreak commented on #435
We can help out with writing tests. Just create the PR and we will have a look at it.

[2018-07-29 14:24] bastelfreak opened #438 "Wrong init provider on Ubuntu 14.04"
I noticed something during the last acceptance test:
https://travis-ci.org/solarkennedy/puppet-consul/jobs/409529972#L1184
[code]
I'm not sure if this is an actual bug or just a regression in Puppet.

[2018-07-29 19:15] jayabalan1992 commented on #433
@bastelfreak
I am already using 1.2.0 with no issues so far. Thanks for the response!

[2018-07-29 19:15] #433 closed

[2018-10-04 15:15] shamil opened #442 "Wrong dependencies in Puppet Forge"
Version `3.4.2` of this module has old dependencies, while `3.4.1` has the correct once.
Can you please check? (https://forge.puppet.com/KyleAnderson/consul/3.4.2/dependencies vs https://forge.puppet.com/KyleAnderson/consul/3.4.1/dependencies)

[2018-10-05 03:15] solarkennedy commented on #442
Hmm.

[2018-10-06 06:34] bastelfreak commented on #438
Ah right. This is fixed now.

[2018-10-06 06:34] #438 closed

[2018-10-18 09:33] l-lotz opened #445 "Version 4.0.0 is missing in git"
The current version on Puppet Forge is "4.0.0" but the current master is at "3.4.2". The Readme on Puppet Forge also contains a newer compatibility table.

[2018-10-18 19:01] bastelfreak commented on #445
Hey @solarkennedy, how did you do the last release? Can you add a tag for the approriate commit?

[2018-10-22 15:21] lesinigo opened #446 "document allow_binding_to_root_ports parameter"
I was looking for a way to allow `consul` to bind to port 53 and just found out that I can use the `allow_binding_to_root_ports` on SystemD based systems.

There should be an example in the module documentation / `README.md`.

Currently having some funny issues with forking on GitHub, but when I'll have a working fork and some spare time I will try to prepare a PR.

[2018-10-23 02:30] solarkennedy commented on #445
Er, apparently I did it wrong (again) :(

I'm using puppet blacksmith, but I'm just not doing it right. Let me try again.

[2018-10-23 02:31] solarkennedy commented on #445
Whoops, I didn't push. Everything is in sync now.

[2018-10-23 02:32] #445 closed

[2018-10-30 12:18] bastelfreak opened #448 "undefined method `validate_checks` on puppet 5.5.7/6.0.3"
The module fails with the following warning on puppet 5.5.7 and puppet 6.0.3:

[code]

The related upstream bug report is https://tickets.puppetlabs.com/browse/PUP-9268. I assume this is already fixed with https://github.com/solarkennedy/puppet-consul/pull/444. I'm testing it at the moment.

[2018-10-30 12:23] bastelfreak commented on #448
Just confirmed it locally, #444 fixes this issue. I will prepare a new release.

[2018-11-01 12:01] tuxmaster5000 opened #450 "[4.0.0] service_enable mask missing"
On systems using systemd the state mask is missing, because it is an boolean.

[2018-11-02 12:52] bastelfreak commented on #450
Hi @tuxmaster5000. Can you provide a PR for this?

[2018-11-02 14:36] tuxmaster5000 commented on #450
But it will  possible break installations, because of the change of the data type.

[2018-11-02 16:15] bastelfreak commented on #450
Sorry but I'm not really able to understand the issue here. About which lines are you talking?

[2018-11-05 07:49] tuxmaster5000 commented on #450
In the file init.pp this part:
[code]
To do the change, the boolean must be an Enum, because it can have 3 states.
true, false, mask

[2018-11-08 10:20] shamil opened #452 "Broken JSON module"
With latest version (5.x) of this module I can't any longer use `JSON` module.

Seems like after #444 the `JSON` module is no longer usable outside the `consul::sorted_json` function.
Seems like overriding  modules with [The modern Ruby functions API](https://puppet.com/docs/puppet/6.0/functions_ruby_overview.html) causing problems.

[2018-11-10 00:56] bastelfreak commented on #450
Can you provide a patch for this? I assume the correct datatype would be `Variant[Boolean,[Enum['mask']]]`

[2018-11-12 20:18] shamil commented on #452
@solarkennedy  can you please verify or prove me wrong" :smiley:

[2018-11-13 19:11] bastelfreak commented on #452
Hi @shamil, do you run in a particular issue? If so which version of puppet/ruby do you use and how do you call the module? I use the latest version in production and it works well.

[2018-11-13 19:35] shamil commented on #452
The module itself works well, but it cause problems to other puppet functions that make use of `JSON` module.

For example, the following will throw exception, something about no `parse` method in `JSON` module.

[code]

If I revert consul module to previous version, the above function works **!**

[2018-11-14 03:06] solarkennedy commented on #452
Huh. Can you confirm again exactly what version fo ruby+puppet you are using?
We do have this `JSON` module, but I don't know enough ruby to know if there is a namespace collision
https://github.com/solarkennedy/puppet-consul/blob/139a3b7bbf5cabf166ef9e118a5992b63464d783/lib/puppet/functions/consul/sorted_json.rb#L3

[2018-11-14 20:02] shamil commented on #452
@solarkennedy yes, that what I meant when mentioning about #444, you extending `JSON` module there.

I'm running puppet `5.5.8` on ruby `2.4.4p296`

[2018-11-15 09:59] bastelfreak commented on #452
I think I just run into this error while using this module + the [vault module](https://github.com/jsok/puppet-vault):

[code]

[2018-11-15 10:30] shamil commented on #452
@bastelfreak, exactly same issue I'm experiencing. If you downgrade the consul module everything will work as expected

[2018-11-29 18:16] cwells opened #454 "Documentation fails to mention required systemd module"
camptocamp/systemd is required, but isn't mentioned in the docs.

[2018-11-29 18:30] cwells opened #455 "Systemd fails to start Consul"
The template for systemd unit file is missing required `-data-dir` argument (CentOS 7):

Running command as present in template:
[code]

adding required argument:
[code]

[2018-12-04 22:04] shamil commented on #452
@bastelfreak any news about this? Do you need me to provide any other information?

[2018-12-05 11:51] den-is commented on #452
same here
Puppet enterprise v2017.3.2

[2018-12-12 14:36] #452 closed

[2018-12-12 18:07] cwells commented on #455
Ignore me. Added the parameter to `config_hash`.

[2018-12-12 18:07] #455 closed

[2019-01-15 16:37] jstewart612 opened #461 "Change service resource to file name based on service name rather than ID"
Using ID can create issues when the ID causes the file name to become too long.

IDs have less restrictions in the Consul system.  Names have additional restrictions which ensure the file name will never cross maximum file length if you use it.

[2019-01-15 16:45] jstewart612 commented on #461
https://github.com/solarkennedy/puppet-consul/pull/462 submitted

[2019-02-04 14:56] jardleex opened #468 "Can't use integer on meta hash on services"
Hey there,

after #466 made it into master we started to play with it.
We quickly found out that passing in a integer as value for a key prevents Consul from reloading.

[code]

causes

[code]

while

[code]

makes Puppet happy but prevents a Consul reload due to

[code]

Might the function `consul::sorted_json`, or the inner called `to_json`, called in the define `::consul::service` cause this?
A

[2019-02-04 14:58] jardleex commented on #468
Just seen #318, sounds similar.

[2019-02-06 08:14] krjensen opened #469 "Can we get a new release to forge soon?"

[2019-02-09 23:58] bastelfreak commented on #469
@solarkennedy can you take care of this? Also I'm a bit confused about the past releases. v5.0.2 is the last release on the forge, but not listed as git tag? 5.0.3 exists as a git tag but not on the forge? Do you upload the modules by hand? If so I suggest switching to releases through travis.

[2019-02-10 13:37] solarkennedy commented on #469
I use `blacksmith`, but sometimes I don't get it right still somehow. Let me look into using travis.

[2019-02-10 20:57] solarkennedy commented on #469
I've added travis to deploy things and updated the make target to remind me (or you!) on how to do a release next time.

[2019-02-10 20:57] #469 closed

[2019-02-19 11:06] camskkz opened #471 "[Feature request] Provide support for Consul 1.4.0+ ACL System"
With consul version 1.4.0 the ACL System changed : https://www.consul.io/docs/guides/acl-migrate-tokens.html
Even though the next major releases of Consul will still work with the older ACL system, it would be great to have this feature for this puppet module.

[2019-02-19 19:06] bastelfreak commented on #471
@camskkz thanks for reporting this. Are you able to provide a PR for this?

[2019-02-20 08:47] camskkz commented on #471
Not at this time, but I will try to find the time to do it

[2019-03-15 12:15] dmcanally opened #472 "How to leverage consul_acl resource"
I can't seem to figure out how to leverage the token created with the consul_acl. What I'm trying to do is have every client machine create its own policy with a managment token using consul_acl...

`  consul_acl { $::hostname:
    ensure        => 'present',
    rules         => $rule_hash,
    type          => 'client',
    acl_api_token => $consul_mgmt_token,
  }`

I can see that token in consu

[2019-03-28 13:51] #283 closed

[2019-03-28 13:51] #468 closed

[2019-04-01 08:58] SkydiveMarius commented on #471
Just for avoiding double work, we already started working on this topic and will provide a pull request soon.

[2019-04-15 16:33] surcouf commented on #452
Hi,
 I've got the same error...

Puppet 4.8
vault 2.0.0
consul 5.0.3

[2019-05-16 15:07] #471 closed

[2019-05-19 12:03] maxadamo opened #478 "option to strip binary"
would you agree to add an option to strip the binary?
It's just easy:
[code]

[2019-05-19 12:47] bastelfreak commented on #478
Hey, could you explain why you need the binary stripped? Is that maybe something that Hashicorp should do during the release process?

[2019-05-19 13:14] maxadamo commented on #478
why: because all my C, C++ binaries are already stripped (otherwise I'd need a couple of TB only for the OS) :smile_cat:
On a serious note, I can understand your objection and in fact, I have raised the same issue to Sensu, and now the new sensu-go binary is stripped (they can even use the compile flag).
On the other side, if we do it through puppet, we let the user decide whether it must be strip

[2019-05-19 13:27] maxadamo commented on #478
now there is maybe a related question:
[code]
does the module have an option to purge the old downloads?

[2019-05-19 14:53] maxadamo commented on #478
@bastelfreak I'm gonna close this one (this is something I can do and I have already done myself).

[2019-05-19 14:53] #478 closed

[2019-05-20 14:09] NFarrington opened #479 "New 1.4+ ACL support is not idempotent"
The new support for Consul 1.4+ ACL functionality (added in https://github.com/solarkennedy/puppet-consul/pull/474) appears to not be idempotent.

### Expected Behaviour

[code]

When Puppet is first run, the policy should be created, and a notice should appear such as `Created Consul ACL policy my-policy with ID 315bab4b-ed75-7537-a722-757abca4d16b`.

On further runs, nothing should happen, and n

[2019-05-21 03:03] solarkennedy commented on #479
@SkydiveMarius can you take a look at this?

[2019-05-21 09:16] SkydiveMarius commented on #479
@NFarrington Thank you for the detailed report!
@solarkennedy I will have a look and will create another pull request.

[2019-05-23 17:34] #479 closed

[2019-06-13 07:53] jardleex opened #482 "Feature Request: support special policies like `acl` and `operator` without segment option"
Hi,

It seems that the special policies without a segment option are not supported by `consul_policy`.
I wanted to set up a basic [ACL replication](https://learn.hashicorp.com/consul/day-2-operations/acl-replication#create-the-replication-token-for-acl-management) but failed as the module want's to have a `segment` option on each policy.

May you add supporting `acl` and `operator` policies?

Cons

[2019-06-17 17:47] bastelfreak commented on #482
Hi @jardleex, can you provide a pull request for this?

[2019-06-20 10:05] jardleex commented on #482
Hi @bastelfreak,
how's about the one from @tmu-sprd?

[2019-06-27 04:58] #482 closed

[2019-07-12 04:33] esalberg opened #484 "sorted_generate error with PE 2019.1.0"
Upgrading to PE 2019.1.0 resulted in the following error:

Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Internal Server Error: org.jruby.exceptions.SecurityError: (SecurityError) Illegal method definition of method 'sorted_generate' on line 8' in legacy function. See https://puppet.com/docs/puppet/latest/functions_refactor_legacy.html for more information

lib/puppet/

[2019-07-22 22:12] spuder opened #485 "Puppetforge README and Github README are different"
This [module on the puppet forge link](https://forge.puppet.com/KyleAnderson/consul) to this github repo, so I assume they are the same module.

Looking at the readme's for version 5.0.3 they are wildly different.

Specifically regarding how the policy's work.

Is the link wrong? or is the README out of sync?

[2019-07-22 22:56] spuder commented on #472
Did you ever figure out how to get the token when using `consul_acl` ?

[2019-07-24 04:22] solarkennedy commented on #485
The link is not wrong.
Yes, the readme for 5.0.3 is different than what is currently on master
https://github.com/solarkennedy/puppet-consul/compare/v5.0.3...master#diff-04c6e90faac2675aa89e2176d2eec7d8
I'll make a new release soon.

[2019-07-24 04:56] solarkennedy commented on #485
5.1.0 is now released.

[2019-07-24 04:56] #485 closed

[2019-07-26 15:58] spuder opened #486 "Example of using ACL's in production?"
Thanks for this great module.

There is only 1 example of how to use `acl_token` and `acl_policy`. More details are needed.

https://github.com/solarkennedy/puppet-consul#policytoken-system

How would you actually use those two resources? The [consul guide suggests](https://learn.hashicorp.com/consul/security-networking/production-acls) you should create a policy and a token for every node in the

[2019-07-27 23:02] spuder commented on #486
I've opened #487 with what I believe to be a minimal viable implementation of `consul_policy` and `consul_token`.

[2019-07-27 23:06] spuder opened #488 "Add type and provider for `consul_role` in consul 1.5.x"
Consul 1.5 adds support for roles.
Add a new resource `consul_role`

https://www.consul.io/api/acl/roles.html

[2019-07-28 00:08] #486 closed

[2019-07-28 06:52] spuder opened #490 "consul_token is not idempotent"
The following example will create a new `consul_token` on every puppet run.
[code]

I believe the issue lies in the way self.prefetch iterates over the tokens.

https://github.com/solarkennedy/puppet-consul/blob/master/lib/puppet/provider/consul_token/default.rb#L15

Here since `resource[:accessor_id]` is not defined, the token will never match.
[code]

Does this mean `consul_token :accessor_id` i

[2019-07-28 15:26] spuder commented on #490
Possible work arounds:
[code]
Is there any security risk to using the puppet fact `$::uuid`?
[code]

[2019-07-28 19:14] spuder commented on #490
Documented work arounds in #489

[2019-09-08 03:30] suckatrash opened #491 "Question / bug: secret_id"
`secret_id` should let me choose the token secret I think.

However when I declare the resource like this:
[code]
...the token is created with a different secret.  Should this work?  I'm using Consul v1.4.2

Also, the resource above isn't idempotent.  A new token is created on each run.

[2019-09-08 18:55] suckatrash commented on #491
I guess this is just a difference in the API between consul versions.  It works fine in v1.6.0 as long as I add an `accessor_id` to the resource.

[2019-09-17 20:05] maxadamo opened #492 "service weights needs integer"
starting from Consul 1.6.x, the service weight requires an integer, but since this is configured with the extra hash `service_config_hash`, I am not being to set the integer in the json file.

This is what I had in my puppet manifest (I have also tried the trick of using `0 +`, to force integer, but it didn't work:

[code]

[2019-09-21 15:50] bastelfreak commented on #492
Hi. We already have something to not quote certain elements:
https://github.com/solarkennedy/puppet-consul/blob/714756d1fa0e72e4759af5deca453d33935b8be2/lib/puppet/functions/consul/sorted_json.rb#L139-L141

Could you check if you can adopt it for weights as well?

[2019-09-22 16:59] maxadamo commented on #492
lemme-check!

[2019-09-22 17:28] maxadamo commented on #492
lemme-fork :-)

[2019-09-22 18:09] maxadamo commented on #492
fixed by #493 (if Travis likes it)

[2019-09-27 04:35] jay7x opened #496 "upgrade puppetlabs-stdlib version in dependencies to < 7.0.0?"
Current `puppetlabs-stdlib` version is 6.1.0. Is it possible to bump it in dependencies to include this version in range?

[2019-09-27 07:26] bastelfreak commented on #496
Hi, thanks for the hint. Can you provide a PR with this change?

[2019-09-27 21:09] spuder opened #498 "Add support for gRPC"
I'm trying to setup a consul health check for grpc services as shown here:

https://www.consul.io/docs/agent/checks.html
[code]

However, when I try the following hiera data:

[code]

I get error:

[code]

[2019-09-30 16:05] spuder opened #502 "Add support for CNI plugins"
https://www.nomadproject.io/guides/integrations/consul-connect/index.html#cni-plugins

The CNI plugins are needed for consul connect.
To install it, run these commands

[code]

Should the puppet module install these plugins?

[2019-09-30 18:03] bastelfreak commented on #502
Hi. As long as this is an opt-in feature I would be fine with it.

[2019-09-30 19:53] spuder commented on #502
Not sure where the best place for this would be. Suggestions welcome.

For now I'm putting something like this in my profile

[code]

[2019-10-08 08:38] vasandr13 opened #503 "Compatibility with Puppet 3.6"
We've been using Puppet Version 3.6.2 and configurations is stored at gitlab.
I cloned the module and put it in our repo.
When I trying to push the changes I get an error:

remote: Validating: modules/puppet-consul/manifests/config.pp
remote: Error: Could not parse for environment production: Syntax error at 'Hash'; expected ')' at line 23

Could you please suggest something to resolve this issue?

[2019-10-08 08:40] bastelfreak commented on #503
Hi. Your puppet version is end of life since years. it's not supported anymore. Based on that, we dropped support for this version in this module. Our metadata.json says that you need at least Puppet 4.7.1 (which is also EOL, Puppet 6 is the current one).

[2019-10-12 01:08] spuder opened #505 "Clarification - What is acl_api_token?"
In the readme it says $acl_api_token can either be the boostrap token, or a dedicated token.

Can you provide an example of what an acl token with write/read to the acl's would look like?

I've created the following:

A 'Policy' named 'foo' with acl write permissions
[code]

A 'Token' named 'bar' with applied Policy 'foo' granting acl write permissions

I then take the secret ID of the Token 'bar'

[2019-10-26 12:31] t0xa commented on #472
Hello @spuder and @dmcanally

Did you manage to figure out way how to fetch token from consul_acl resource?

Thanks

[2019-10-26 18:42] spuder commented on #472
Yes, `consul_acl` is used by the legacy system. I am using the new acl system so I am using `consul_policy` and `consul_token`. I documented how to use them in the readme

https://github.com/solarkennedy/puppet-consul/pull/487/files

As shown [in this github issue](https://github.com/hashicorp/consul/issues/4977), I am pre-generating tokens and storing them in hiera for every node to ensure idempo

[2019-10-26 18:54] t0xa commented on #472
Thanks a lot for explanation @spuder. Just to be sure I understand you:

1. Create tokens using `consul_token` resource for each node
2. Manually fetch `SecretID` from Consul UI or via Rest API
3. Store tokens in heira configuration and then configure them as usual

[2019-10-30 00:45] solarkennedy commented on #502
I don't think this should be part of this module. These binaries are not consul-specific, they just happen to be commands that consul could run if you asked it to.

I think it should be a different puppet module.

[2019-10-30 02:38] #502 closed

[2019-10-30 20:27] maxadamo commented on #492
@solarkennedy  fixed by #509

[2019-11-01 17:44] spuder commented on #472
Not quite.

The steps are:

1. Generate a secret id encrypt it and store it in puppet

The secret id is generated with the command `uuidgen`. I have a ruby script that runs `uuidgen` and encrypts the result and stores it in puppet. This happens *before* the vm exists.

[code]

2. Puppet then creates the `consul_policy` and `consul_token` as shown in the documentation.

[2019-11-06 19:24] suckatrash opened #511 "Token printed in report / agent output when submittting resources through API"
If you're using any resource that is submitted thought the API and the call fails, you'll get an error message in the agent report or CLI output that exposes the token you're using.  Example:
[code]
Could the error message obfuscate the key used?

[2020-01-03 15:24] #252 closed

[2020-01-06 14:43] bmx0r commented on #505
see: https://learn.hashicorp.com/consul/day-0/acl-guide
You can use the bootstrap token in step2 (Super admin token of consul) or you could create one token yourself taht will include a specific policy for "puppet" to limit what puppet can manage

[2020-01-14 10:48] wilfriedroset opened #517 "info required - Apply ACL on https consul"
Hello

I've successfully managed to setup and configure a consul cluster.
I'm now trying to implement ACL management using puppet.
When I try to do anything related to them I end up with the following message:

[code]

All of my servers are running with only the https open on 8501 port and self-signed certificates (debian's snake-oil).
I got the same error message when I issue a http request to a

[2020-01-16 12:56] digi-talo opened #518 "Can't set consul watch from hiera"
I have a profile as such:
[code]
Hiera:
[code]

But my puppet run is failing with `Invalid parameter watches on Class[Profile::Consul]`

[2020-01-17 15:26] #518 closed

[2020-01-19 14:21] lukebigum commented on #517
I've run into the same problem.  The providers don't enable HTTPS support, even though the Puppet types take a `protocol` option.

I'm working on a patch for it in [lukebigum/puppet-consul](https://github.com/lukebigum/puppet-consul).

Give me a few days.

[2020-01-19 22:16] lukebigum commented on #517
@wilfriedroset try the latest pushed to [lukebigum/puppet-consul](https://github.com/lukebigum/puppet-consul).  I haven't got all the specs passing yet, but it appears to speak to my own Consul lab over HTTPS now though.

[2020-04-11 16:45] #490 closed

[2020-04-11 16:49] #505 closed

[2020-04-11 16:52] spuder opened #524 "Add policy_by_role"
This module can lookup policies by name with the following attribute

[code]

It would be nice if it could also lookup policies by role. Roles were introduced in consul 1.5

https://www.consul.io/docs/commands/acl/role.html

[code]

[2020-04-14 22:30] rajanikanthsingh opened #525 "support"
Can I know if this module supports  allow_write_http_from

For example,  this  is working
"http_config": {
        "allow_write_http_from": [
            "10.174.1.0/22",
            "10.174.2.0/22",
            "10.174.3.0/22"
        ]

[2020-04-23 17:07] rtkennedy opened #526 "Service port gets quoted with a puppet 6.10 catalog server and consul rejects it"
With this service configuration:

[code]

consul module version 6.0.0, and a puppet 6.10 catalog server I get a service json file with a quoted port number:

[code]

which results in a consul error: `* 'service.port' expected type 'int', got unconvertible type 'string'`

The sorted_json() function doesn't seem to do this when the same code is run through a puppet 5.5 catalog server.

[2020-04-23 18:51] rtkennedy commented on #526
Additionally, the major version of the client doesn't matter. A 5.5 client pointed at a 6.10 catalog server will get the stringified integer, and a 6.10 client pointed at a 5.5 catalog service will get a bare integer.
Removing 'Integer' from 'when Integer, Float, TrueClass, FalseClass' in sorted_json allows it to fall through and not get quoted - though I'm still not sure why 5.5 wasn't hitting th

[2020-04-24 13:04] rtkennedy commented on #526
It's looking more like code to turn on the quoted boolean for everything inside node_meta|meta|tags hashes in the 2 sorted*generate functions is instead turning it on for everything that happens after it in the loop.

[2020-05-11 15:42] induja0107 opened #530 "Consul user not found in /etc/passwd issue"
We have the consul config hash as shown below and we are using mod 'KyleAnderson/consul', '5.0.3'. Is there any settings that need to be passed to config_hash to fix this issue?

Any help in fixing this issue is greatly appreciated!

Error message:

err
          Could not set shell on user[consul]: Execution of '/usr/sbin/usermod -s /sbin/nologin consul' returned 6: usermod: user 'consul' does no

[2020-05-12 02:02] solarkennedy commented on #530
You need `manage_user => true` if you want the module to manage the user.

If you are going to manage the user, then you need to specify something other than "absent" if you want the user to exist.

[2020-05-12 17:03] induja0107 commented on #530
Thanks, When i set mange_user=> false and manage_group => false and try to add the following, the error related to /etc/passwd goes away but the config.json in /etc/consul has nothing but data_dir=/opt/consul even though i pass a whole lot of config in the config_hash as shown in the original post.

Any reason why it is setting config.json with only the defaults and not having the values for these

[2020-05-12 20:45] solarkennedy commented on #530
I can't think of any reason why adjusting the user would change (or not change) the config hash.

[2020-05-13 01:40] induja0107 commented on #530
Thanks again, I found out that the root cause of the issue was the ACLs not found. I restored consul snapshot to a previous working version and things got back to normal.

[2020-05-13 01:40] #530 closed

[2020-05-13 14:26] induja0107 opened #531 "What do I need to do to to get the nslcd service started before the Consul service"
I need to change the consul service definition so that the nslcd service is started before consul so that applications running on the boxes don't have issues starting because consul is not yet up.

What's the best way to accomplish this?

Should I fork solarkennedy/puppet-consul module and change the consul.service.erb template or is there a config parameter i can pass to be added to the consul.se

[2020-05-13 16:31] solarkennedy commented on #531
There are lots of ways to change (override) systemd behavior. See if you can do it via local overrides:
https://askubuntu.com/a/659268

[2020-05-13 17:45] induja0107 commented on #531
Thank you!

[2020-05-13 17:45] #531 closed

[2020-05-20 11:01] joshberry911 opened #533 "Home directory not created for consul user"
When the module creates the consul user it sets the home directory to /home/consul but then does not create this directory.

When I then try to run some maintenance tasks as the consul user in cron they fail

{code}
May 20 11:53:01 consul-001 CROND[19775]: (CRON) ERROR chdir failed (/home/consul): No such file or directory
{code}

I realise that I can just create the directory or create the user m

[2020-05-21 00:48] solarkennedy commented on #533
I would accept a PR to enable managehome, I think that is fine.

[2020-05-25 19:57] mrcrch opened #536 "Define service without including consul #question"
Sorry if here is not the right place to post this question

I'm refactoring my manifests. At this moment I install the agent and, when necessary, I define services and checks

When I define a service, I have the following error:

[code]

A snippet from my code:
[code]

Is there a way to avoid this?

Thanks in advance

[2020-06-01 02:01] solarkennedy commented on #536
[code]
Says you are defining the `Class[Consul] ` once on `modules/commons/manifests/sbm/basic.pp:18` and then once on `modules/servers/manifests/xpto/sbm/basic.pp:34`.

Don't declare the module twice to remove fix this error message.

[2020-06-02 21:00] mrcrch commented on #536
Thanks, @solarkennedy

I'll try to isolate the code and provide a sample. I include `Class[Consul]` only once.

[2020-06-02 21:00] #536 closed

[2020-06-05 17:39] Luckless opened #537 "Add 'tls_skip_verify' to check.pp"
**As a** user of the module
**I want** to be able to ignore invalid SSL certificates when doing https healthchecks
**So that** I can validate health of service without updating certificate SANs to include ips/service names

**Acceptance Criteria**

- Add 'tls_skip_verify' option to consul::check

[2020-06-09 15:41] spuder opened #538 "Add support for Ingress Controllers using Configuration Entries"
Consul 1.8 introduced Ingress Gateways. An Ingress Gateway must be configured with a 'configuration entry' like this:

[code]

There is no way to currently define this configuration. Attempting to use the consul::Service defined type returns errors like

[code]

https://www.consul.io/docs/agent/config-entries

[2020-06-09 20:15] spuder commented on #538
I don't believe a change is needed after all to this module, since the config option can be provided directly in the consul config file

https://github.com/hashicorp/consul/issues/8066

[2020-06-09 20:15] #538 closed

[2020-07-21 18:11] chrisjohnson opened #542 "No obvious support for setting headers for inline service checks"
Code:
[code]

Error:

[code]

The expected JSON should be:

[code]

We are using an older version of puppet and only using 5.1.0 of the module, however looking at the master branch, it doesn't seem much has changed in this area.

If at all possible, back-porting the fix to the 5.x line would be greatly appreciated :)

[2020-07-22 19:37] chrisjohnson commented on #542
It looks like using this form works `        header => { "Host" => ["${::app_id}-${::app_name}}.testing.site.com"] },`

So maybe this ticket should just be, add an example header config? It was tough to figure this out and we basically lucked into it

[2020-07-22 23:06] solarkennedy commented on #542
I think just this issue is an OK way to document this.

It is puppet, so a bare `Host` in part of a hash... well I don't know what it will do.
We know what in the end this needs to be a string in the file, so quoting it explicitly is a good thing I think.

[2020-07-22 23:47] chrisjohnson commented on #542
That's fine, I mean updating the readme because there is no mention of how
to handle non-scalar keys anywhere. An issue isn't really documentation

On Wed, Jul 22, 2020, 7:06 PM Kyle Anderson <notifications@github.com>
wrote:

[2020-07-23 00:08] solarkennedy commented on #542
I don't think we need this kind of documentation on the README. This is just general puppet knowledge about putting quotes around strings right? https://puppet.com/docs/puppet/6.17/lang_data_hash.html#syntax

[2020-07-23 00:26] chrisjohnson commented on #542
None of the other fields require quotes. It is a special circumstance that
only applies to this singular field

On Wed, Jul 22, 2020, 8:08 PM Kyle Anderson <notifications@github.com>
wrote:

[2020-07-23 00:34] chrisjohnson commented on #542
Sorry, what I mean is that this particular field differs from the rest. I don't really see the harm in adding to the documentation for those of us who arent puppet experts. But if you think it's harmful then I guess that's your call

[2020-07-23 15:31] solarkennedy commented on #542
You are right, it isn't obvious which keys are arguments to a module and which keys are actually k/v strings in a hash.
I would accept a PR.

[2020-07-23 15:55] chrisjohnson commented on #542
https://github.com/solarkennedy/puppet-consul/pull/543 Thank you!

[2020-07-23 16:21] chrisjohnson commented on #542
Resolved

[2020-07-23 16:21] #542 closed

[2020-07-27 14:17] jhur7 opened #544 "Is there a way to encrypt or hide the acl_api_token value?"
I have checked in my acl_api_token into various places in my Hiera yaml files.  I'd like to be able to either look up my token or obfuscate/ecnrypt the acl_api_token.  Is there a way to do this or am I missing something obvious in the module?  Here's a snippet of one of my Hiera files with the acl_api_token redacted.

Thank You.

[code]

[2020-07-28 10:59] joshberry911 commented on #544
You could use EYAML, and then you can encrypt anything in your configuration. You install the hiera-eyaml package (on a Debian based system) and then adjust your puppetmaster configuration. More documentation: https://github.com/voxpupuli/hiera-eyaml

[2020-07-28 16:45] jhur7 commented on #544
Thank you @joshberry911 .  I'll look into this as an option.  I would prefer not to use eyaml as I have already implemented Hiera/Vault.  Is there a possibility of referring back to a file as opposed to the token API string? Are there any other options?

[2020-08-04 07:27] xavvo commented on #544
Hi @jhur7, if you already employ consul, did you consider the [consul secret engine](https://www.vaultproject.io/docs/secrets/consul)?

[2020-08-19 20:17] helenes-r7 commented on #526
I'm running into this issue as well

[2020-08-19 20:25] bastelfreak commented on #526
Hi people. I need to say that I'm unable to reproduce this. I'm running version 6.1.0 of this module with puppetserver 6.12.1 and puppet agent 6.17.0. example consul code:

[code]

results in:

[code]

[2020-08-19 20:36] rtkennedy commented on #526
The simple fix of excluding Integer from the list fixes the quoted port issue, but it does not fix any more complicated configs with nesting because the recursion causes quoting to get turned on for all enclosed parameters, even if they should not be quoted. I tried with https://github.com/solarkennedy/puppet-consul/pull/527 but never pushed it over the finish line with an RH6 TravisCI issue that

[2020-08-19 20:48] helenes-r7 commented on #526
I was running version 6.0.1 of the module, with puppetserver 6.12.0 and puppet agent 6.17.0.

After upgrading to version 6.1.0 of the module I'm now getting the proper, unquoted integer for the port number.
[code]

I should have made sure I was on the latest version of the module. Thank you @bastelfreak and @rtkennedy !

[2020-10-08 12:29] alexhill050392 opened #553 "Can not download the archive. need to allow insecure access to download for archive"
When downloading though a http proxy, we get the following error:

Error: Could not set 'present' on ensure: SSL_connect returned=1 errno=0 state=error: certificate verify failed at 41:/etc/puppetlabs/code/environments/tooling/modules/consul/manifests/install.pp
Error: Could not set 'present' on ensure: SSL_connect returned=1 errno=0 state=error: certificate verify failed at 41:/etc/puppetlabs/cod

[2020-10-08 16:03] solarkennedy commented on #553
You need to add your proxy's cert to your authorized CAs, not disable ssl verification and making it less secure for everyone.

[2020-10-08 16:03] #553 closed

[2020-10-09 04:08] #526 closed

[2020-10-20 22:16] #116 closed

[2020-10-20 22:16] #236 closed

[2020-10-20 22:16] #324 closed

[2020-10-20 22:16] #342 closed

[2020-10-20 22:16] #339 closed

[2020-10-20 22:16] #347 closed

[2020-10-20 22:16] #344 closed

[2020-10-20 22:16] #359 closed

[2020-10-20 22:16] #368 closed

[2020-10-20 22:16] #367 closed

[2020-10-20 22:16] #358 closed

[2020-10-20 22:16] #246 closed

[2020-10-20 22:16] #411 closed

[2020-10-20 22:16] #395 closed

[2020-10-20 22:16] #413 closed

[2020-10-20 22:16] #415 closed

[2020-10-20 22:16] #399 closed

[2020-10-20 22:16] #422 closed

[2020-10-20 22:17] #421 closed

[2020-10-20 22:17] #410 closed

[2020-10-20 22:17] #435 closed

[2020-12-18 13:55] #446 closed

[2020-12-29 03:01] #450 closed

[2021-01-08 12:53] bogdankatishev opened #557 "HCL Config Support"
Hello,

I could not find any issues that mentioned support for HCL config files.

As I can see the only supported output for config is JSON. Is there a specific reason why HCL output is not implemented yet, or can I make a new PR which adds support to choose from JSON/HCL output?

[2021-01-08 18:54] solarkennedy commented on #557
Well, puppet is a program, outputting json for another program to consume.
HCL is a human-friendly language, so I don't see a need for supporting that output.
Puppet DSL is the human friendly language here.
We don't need anything more than `thing.toJSON` in the puppet provider code for our communication with consul to work.

[2021-01-11 11:48] #557 closed

[2021-01-13 11:43] bogdankatishev opened #559 "New Home Attribute on consul user resource breaks our puppet runs."
This merge https://github.com/solarkennedy/puppet-consul/pull/550 breaks our Puppet runs on our current Consul Agents.

[code]

As far as I can see, many popular Puppet Modules avoid the User resource, or when they use them, they do not set the home attribute.

How could this be resolved cleanly?

[2021-01-13 16:54] solarkennedy commented on #559
Oh man, I didn't expect that change not work with a running process. Hmm :(

[2021-01-17 19:37] #454 closed

[2021-02-03 09:46] rushi47 opened #562 "Registering multiple services from same node/instance with same name"
Hello Team,

Am trying to register multiple service definition for same service from single instance.
So lets there is service_name : X am trying to register it with

[code]
from the same node

[code]

This is how it looks in puppet code,
[code]
when i try to do this i get error duplicate class it can be define multiple times.
I guess it can be limitation from puppet as well but if we change imple